<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 	<meta charset="UTF-8"> -->
    <title style="text-align:left;">訴訟狀</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <style type="text/css">
    body {
        /*楷體*/
        font-family: 'bkai00mp';
        font-size: 16.5pt;
    }
    .table {
      padding-left:20px;
    }
    .table tr td{
      padding:10px 0px 10px 0px;
      vertical-align:text-top;
    }
    .spaceLine {
      margin:10px;
    }
    .page-break {
        page-break-before: always;
    }
    
    /*以下為新格式運用*/
    .letterPDFAttachment{
      border-collapse: collapse;
      width:100%;
      font-size:14.5pt;
    }
    
    .letterPDFAttachment td{
      padding:5px;
      font-size:14.5pt;
    }
    .complaintTable{
      border-collapse:collapse;
      border:none;
      width:100%;
    }
    .complaintTable td{
      padding:10px;
      border:none;
      vertical-align: baseline;
    }
    .bluefont{
      color:blue;
      font-weight:bolder;
    }
    </style>
</head>

<body>
  
    <% @complaintLitigationAgent = @yfcase.complaintLitigationAgent.to_s %>
    <% @yfcase.lands.each do |land| %>
      <% @controversialLandAnnouncementFees = land.landPresentValue.to_f * land.landTotalArea.to_f * (land.land_holding_point_personal.to_f / land.land_holding_point_all.to_f) %>
      <% @presentValueOfTaxableHousingFees = @yfcase.housingTax.to_f * (land.land_holding_point_personal.to_f / land.land_holding_point_all.to_f) %>
    <% end %>
    <% @fees = @controversialLandAnnouncementFees.to_f + @presentValueOfTaxableHousingFees.to_f %>
          
    <!--權利人的土地持分:-->
    <% @creditorLandholdingpointperson = @yfcase.creditorLandholdingpointperson %>
    <% @creditorLandholdingpointall = @yfcase.creditorLandholdingpointall %>
    <% @creditorLandholdingpoint = @creditorLandholdingpointperson.to_f / @creditorLandholdingpointall.to_f %>
    
    <!--權利人的建物持分:-->
    <% @creditorBuildholdingpointperson = @yfcase.creditorBuildholdingpointperson %>
    <% @creditorBuildholdingpointall = @yfcase.creditorBuildholdingpointall %>
    <% @creditorBuildholdingpoint = @creditorBuildholdingpointperson.to_f / @creditorBuildholdingpointall.to_f %>
    
    <!--共有人的土地持分(陣列):-->
    <% @ownerLandholdingpoint = @yfcase.personnals.map { |n| [n.right_share_person.to_f / n.right_share_all.to_f] }.flatten %>
    <!--添加元素 Array.push([element])-->
    <% @ownerLandholdingpointAdd = @ownerLandholdingpoint.push(@creditorLandholdingpoint) %>
    <% @ownerLandholdingpointMin = @ownerLandholdingpointAdd.min %>
    <% @ownerLandholdingpointMax = @ownerLandholdingpointAdd.max %>
    <% @ownerLandholdingpointSum = @ownerLandholdingpointAdd.sum %>
      
    
    <!--共有人的建物持分(陣列):-->
    <% @ownerBuildholdingpoint = @yfcase.personnals.map { |n| [n.personnalBuildHoldingPointPerson.to_f / n.personnalBuildHoldingPointAll.to_f] }.flatten %>
    <% @ownerBuildholdingpointAdd = @ownerBuildholdingpoint.push(@creditorBuildholdingpoint) %>
    <% @ownerBuildholdingpointSum = @ownerBuildholdingpointAdd.sum %>
    
    <!--土地總面積-->
    <% @landTotalArea = @yfcase.lands.map { |n| [n.land_area.to_f] }.flatten.sum %>
    
    <!--最大值比較-->
    <!--最大值:@ownerMaxArray-->
    <% if @debtorLandholdingpoint == @ownerLandholdingpointMax %>
      <% @ownerMaxArrayPerson = @debtorLandholdingpointperson %>
      <% @ownerMaxArrayAll = @debtorLandholdingpointall %>
      <% @ownerMaxArrayValue = (@debtorLandholdingpointperson.to_f / @debtorLandholdingpointall.to_f) %>
    <% else %>
      <% @yfcase.personnals.each do |ownerLandholdingpoint| %>
        <!--共有人的個人持分:-->
        <% @ownerLandholdingpointPerson = ownerLandholdingpoint.right_share_person.to_f %>
        <!--共有人的所有持分:-->
        <% @ownerLandholdingpointAll = ownerLandholdingpoint.right_share_all.to_f %>
        <!--共有人的持分:-->
        <% @ownerLandholdingpoint = @ownerLandholdingpointPerson / @ownerLandholdingpointAll %>
        <% if @ownerLandholdingpoint == @ownerLandholdingpointMax %>
          <% @ownerMaxArrayPerson = ownerLandholdingpoint.right_share_person.to_s %>
          <% @ownerMaxArrayAll = ownerLandholdingpoint.right_share_all.to_s %>
          <% @ownerMaxArrayValue = (ownerLandholdingpoint.right_share_person.to_f / ownerLandholdingpoint.right_share_all.to_f) %>
        <% end %>
      <% end %>
    <% end %> 
    
    <!--最小值比較-->
    <!--最小值:@ownerMinArray-->
    <% if @debtorLandholdingpoint == @ownerLandholdingpointMin %>
      <% @ownerMinArrayPerson = @debtorLandholdingpointperson %>
      <% @ownerMinArrayAll = @debtorLandholdingpointall %>
      <% @ownerMinArrayValue = (@debtorLandholdingpointperson.to_f / @debtorLandholdingpointall.to_f) %>
    <% else %>
      <% @yfcase.personnals.each do |ownerLandholdingpoint| %>
        <!--共有人的個人持分:-->
        <% @ownerLandholdingpointPerson = ownerLandholdingpoint.right_share_person.to_f %>
        <!--共有人的所有持分:-->
        <% @ownerLandholdingpointAll = ownerLandholdingpoint.right_share_all.to_f %>
        <!--共有人的持分:-->
        <% @ownerLandholdingpoint = @ownerLandholdingpointPerson / @ownerLandholdingpointAll %>
        <% if @ownerLandholdingpoint == @ownerLandholdingpointMin %>
          <% @ownerMinArrayPerson = ownerLandholdingpoint.right_share_person.to_s %>
          <% @ownerMinArrayAll = ownerLandholdingpoint.right_share_all.to_s %>
          <% @ownerMinArrayValue = (ownerLandholdingpoint.right_share_person.to_f / ownerLandholdingpoint.right_share_all.to_f) %>
        <% end %>
      <% end %>
    <% end %> 
    
      
    <div style="text-align:left;">民事強制執行聲請狀</div>
    <div>執行標的金額：新台幣<span class="bluefont"><%= number_to_currency(@fees, unit: "", precision: 0) %></span>元整</div>
    <table class="complaintTable" style="padding:0px;margin:20px 0px;">
      <tr>
        <!--原告-->
        <tr>
          <td >
            聲請人：<span class="bluefont">揚富開發有限公司</span>
          </td>
          <td>
            設：<span class="bluefont">臺中市大里區新仁路三段49號1樓</span>
          </td>
        </tr>
        
        <!--法定代理人-->
        <tr>
          <td>
          法定代理人：<span class="bluefont">陳美純</span>
          </td>
           <td>
            住址：<span class="bluefont">同上 (證物1)</span>
          </td>
        </tr>
        
        <!--訴訟代理人-->
        <tr>
          <td>訴訟代理人：<span class="bluefont"><%= @yfcase.complaintLitigationAgent.blank? ? '' : User.find(@complaintLitigationAgent).full_name %></span></td>
          <td>
            住址：<span class="bluefont">臺中市大里區新仁路三段49號1樓</span>
            <br>
            電話：<span class="bluefont">0921-765-023</span>
          </td>
        </tr>
      </tr>
    
      
      <!--被告：共有人-->
      <% @yfcase.personnals.each do |debtor| %>
      <tr>
        <td>
          相對人：<span class="bluefont"><%= debtor.name %></span>
        </td>
        <td>
          住：<span class="bluefont"><%= debtor.ownerFullAddress %></span><br>
        </td>
      </tr>
      <% end %>
  
    </table>

   
    <div>為聲請變賣共有物強制執行事：</div>
    <div style="margin-bottom:0px;">聲請事項</div>    
    <table class="table">
      <tr>
        <td>
          一、
        </td>
        <td>
          兩造共有附表所示不動產准予變賣，所得價金按土地登記謄本所示應有部分比例分配之。
        </td>
      </tr>
      <tr>
        <td>二、</td>
        <td>執行費用由兩造按應有部分比例負擔。</td>
      </tr>
    </table>

    <div style="margin-bottom:0px;">執行名義</div>
    <div style="margin-bottom:0px;">臺灣 **** 地方法院 **** 年度訴字第 **** 號民事判決(證物3)。</div>
    
    <div style="margin-bottom:0px;">執行標的及所在地</div>
    <div style="margin-bottom:0px;">聲請人與相對人間所共有如附表所示不動產(證物4)。</div>
    <div style="margin-bottom:0px;">事實及理由</div>
    
    <table class="table">
      <tr>
        <td>一、</td>
        <td>
          <% @yfcase.lands.each do |land| %>
            <% @controversialLandAnnouncementFees = land.landPresentValue.to_f * land.landTotalArea.to_f * (land.land_holding_point_personal.to_f / land.land_holding_point_all.to_f) %>
            <% @presentValueOfTaxableHousingFees = @yfcase.housingTax.to_f * (land.land_holding_point_personal.to_f / land.land_holding_point_all.to_f) %>
          <% end %>
          <% @fees = @controversialLandAnnouncementFees.to_f + @presentValueOfTaxableHousingFees.to_f %>
          按訴訟標的之價額，由法院核定。核定訴訟標的之價額，以起訴時之交易價額為準。分割共有物涉訟，以原告因分割所受利益之價額為準，民事訴訟法第77條之1第1項、第2項前段及第77條之11分別定有明文。本件原告起訴請求分割兩造共有坐落
          <% @yfcase.lands.each do |land| %>
            <span class="bluefont"><%= @yfcase.country.try(:name) %><%= @yfcase.township.try(:name) %><%= @yfcase.big_section %><%= land.land_number %>地號</span>
          <% end %>
          之土地（下稱「系爭土地」）及其上同段
          <% @yfcase.builds.where('build_type_use != ? and build_type_use != ?','0公設','12增建(持分後坪數打對折)').each do |build| %>
            <span class="bluefont"><%= @yfcase.country.try(:name) %><%= @yfcase.township.try(:name) %><%= @yfcase.big_section %><%= build.build_number %>建號</span>
          <% end %>
          共同使用部分建物（門牌號碼
          <span class="bluefont"><%= @yfcase.country.try(:name) %><%= @yfcase.township.try(:name) %><%= @yfcase.other_address %></span>
          之房屋，下稱「系爭房屋」）。從而本件訴訟標的價額應以原告因分割所受利益之價額為準。又系爭土地之公告現值為每平方公尺新臺幣（下同）
          <% @yfcase.lands.each do |land| %>
            <span class="bluefont"><%= land.landPresentValue %></span>
          <% end %>
          元，此有系爭土地土地登記謄本在卷可稽。另系爭房屋課稅現值為<span class="bluefont"><%= @yfcase.housingTax %></span>元。本件訴訟標的價額核定應為<span class="bluefont"><%= number_to_currency(@fees, unit: "", precision: 1) %></span>元。【計算式：（系爭土地公告現值
          <% @yfcase.lands.each do |land| %>
            <span class="bluefont"><%= land.landPresentValue %></span>
          <% end %>
          元/㎡×土地面積
          <% @yfcase.lands.each do |land| %>
            <span class="bluefont"><%= land.landTotalArea %></span>
          <% end %>
          ㎡×原告應有部分
          <% @yfcase.lands.each do |land| %>
            <span class="bluefont"><%= land.land_holding_point_personal %>/<%= land.land_holding_point_all %></span>
          <% end %>
          ）＋（系爭房屋課稅現值<span class="bluefont"><%= @yfcase.housingTax %></span>元
          <% if @yfcase.exhibit1.present? %>
          【證物1】
          <% end %>
          ×原告應有部分
          <% @yfcase.lands.each do |land| %>
            <span class="bluefont"><%= land.land_holding_point_personal %>/<%= land.land_holding_point_all %></span>
          <% end %>
          ）＝ <span class="bluefont"><%= number_to_currency(@fees, unit: "", precision: 1) %></span>元】，應繳裁判費<span class="bluefont"><%= @yfcase. refereeFee %></span>元。裁判費，逾期不繳，即駁回原告之訴，特此裁定。附表中原告所有土地公告現值*****元 【證物2】 及建物課稅現值*****元【證物3】 合計金額計算訴訟標的****元。
        </td>
      </tr>

      <tr>
        <td>二、</td>
        <td>
          緣聲請人與相對人等所共有之附表所示不動產，業經臺灣**** 地方法院 **** 年度訴字第 **** 號民事判決准予變價分割確定在案(證物2)，爰依強制執行法第4條第1項第1款及同法第6條第1項第1款之規定，提出歷審裁判正本聲請拍賣共有物，請鈞院依強制執行法第131條第2項：「執行名義係變賣繼承財產或共有物，以價金分配於各繼承人或各共有人者，執行法院得予以拍賣，並分配其價金，其拍賣程序，準用關於動產或不動產之規定。」查封並拍賣上開土地，以賣得價金依附表所示應有部分比例分配與兩造，以維全體共有人之權益，至感高德。
        </td>
      </tr>
      <tr>
        <td>三、</td>
        <td>
          祈鈞院准裁定後 諭 命 聲請人補正預納 執行費 。
        </td>
      </tr>
      <tr>
        <td>四、</td>
        <td>
          謹聲請鈞院諭命「 聲請人 揚富開發有限公司調查****地號土地及其上****建號建物第一類謄本及全部共有人戶籍資料」，以利本案通知共有人
        </td>
      </tr>
    </table>
    <br>
    <div>謹 狀</div>


    
    
   
    <!-- 附表 -->
    <div class="page-break">
      
        
      
      
        <table class="letterPDFAttachment">
            <tr>
                <td colspan="2" style="font-size:14.5pt;padding-bottom:10px;">附表：</td>
                <td></td>
            </tr>
            
            <tr>
                <th style="border:1px solid black;" rowspan="3">
                  共有人設籍<br>
                </th>
                <th style="border:1px solid black;" colspan="2"><%= @yfcase.country.try(:name) %><%= @yfcase.township.try(:name) %><%= @yfcase.other_address %><br>房地應有部分比例</th>
            </tr>
            <tr>
              <th style="border:1px solid black;">地號</th>
              <th style="border:1px solid black;">建號</th>
            </tr>
            <tr>
                <th style="border:1px solid black;">
                    <% @yfcase.lands.each do |land|%>
                    <%= @yfcase.big_section %><%= land.land_number %><br>
                    <% end %>
                </th>
                <th style="border:1px solid black;">
                    <% @yfcase.builds.where('build_type_use != ? and build_type_use != ?','0公設','12增建(持分後坪數打對折)').each do |build|%>
                    <%= @yfcase.big_section %><%= build.build_number %><br>
                    <% end %>
                </th>
            </tr>
            
            
           
            
            <!--共有人 : 房地應有部分比例-->
            <% @yfcase.personnals.each do |debtor| %>
              <tr style="font-size:12pt;">
                <td style="border:1px solid black;text-align:left;">
                  <span class="bluefont">
                    <%= debtor.name %><br>
                    <%= debtor.ownerFullAddress %>
                  </span>
                </td>
                <td style="border:1px solid black;text-align:center;">
                  <span class="bluefont">
                    <%= numberToChinese(debtor.right_share_all) %>分之<%= numberToChinese(debtor.right_share_person) %>
                  </span>
                </td>
                <td style="border:1px solid black;text-align:center;">
                  <span class="bluefont">
                    <%= numberToChinese(debtor.personnalBuildHoldingPointAll) %>分之<%= numberToChinese(debtor.personnalBuildHoldingPointPerson) %>
                  </span>
                </td>
              </tr>
            <% end %>
            
             <!--權利人 : 房地應有部分比例-->
            <tr>
              <tr style="font-size:12pt;">
                <td style="border:1px solid black;text-align:left;">
                  <span class="bluefont">
                    <% if @yfcase.creditorName.blank? %>
                      <%= @yfcase.company %><br>
                      <% User.where(full_name: @yfcase.company).each do |creditorInfo| %>
                        <%= creditorInfo.userCountry %><%= creditorInfo.userTownship %><%= creditorInfo.userVillage %><%= creditorInfo.userStreet %><%= creditorInfo.userSection %><%= creditorInfo.userNeighbor %><%= creditorInfo.userLane %><%= creditorInfo.userAlley %><%= creditorInfo.userNumber %><%= creditorInfo.userFloor %>
                      <% end %>
                    <% else %>
                      <%= @yfcase.creditorName %><br>
                      <%= @yfcase.creditorCountry %><%= @yfcase.creditorTownship %><%= @yfcase.creditorVillage %><%= @yfcase.creditorStreet %><%= @yfcase.creditorSection %><%= @yfcase.creditorNeighbor %><%= @yfcase.creditorLane %><%= @yfcase.creditorAlley %><%= @yfcase.creditorNumber %><%= @yfcase.creditorFloor %>
                    <% end %>
                  </span>
                </td>
                <td style="border:1px solid black;text-align:center;">
                  <span class="bluefont">
                    <% if @yfcase.creditorLandholdingpointperson.present? && @yfcase.creditorLandholdingpointall.present? %>
                 
                      <%= numberToChinese(@yfcase.creditorLandholdingpointall.to_i)+"分之"+numberToChinese(@yfcase.creditorLandholdingpointperson.to_i) %><br>
                    <% end %>
                  </span>
                </td>
                <td style="border:1px solid black;text-align:center;">
                  <span class="bluefont">
                    <% if @yfcase.creditorBuildholdingpointperson.present? && @yfcase.creditorBuildholdingpointall.present? %>
            
                      <%= numberToChinese(@yfcase.creditorBuildholdingpointall.to_i)+"分之"+numberToChinese(@yfcase.creditorBuildholdingpointperson.to_i) %><br>
                    <% end %>
                  </span>
                </td>
              </tr>
            </tr>
            
            
    
            <tr>
                <th style="border:1px solid black;">合計</th>
                <th style="border:1px solid black;"><%= @ownerLandholdingpointSum == 1 ? "全部" : "持分比例有誤("+@ownerLandholdingpointSum.to_s+")" %></th>
                <th style="border:1px solid black;"><%= @ownerBuildholdingpointSum == 1 ? "全部" : "持分比例有誤("+@ownerBuildholdingpointSum.to_s+")" %></th>
            </tr>
        </table>
        
    </div>
    
    <!-- 證物名稱及數量 -->
    <% if @yfcase.exhibit1.present? %>
      <div class="page-break">
        <table style="font-size:16.5pt;width:100%">
          <tr>
            <td colspan="2" style="font-size:16.5pt;">證物名稱及數量</td>
            <td></td>
          </tr>
          <tr>
            <td style="width:15%;height:70px;">【證物1】</td>
            <td style="width:80%;height:70px;"><span class="bluefont"><%= @yfcase.exhibit1 %></span></td>
          </tr>
          <% if @yfcase.exhibit2.present? %>
            <tr>
              <td style="width:20%;height:70px;">【證物2】</td>
              <td style="width:80%;height:70px;"><span class="bluefont"><%= @yfcase.exhibit2 %></span></td>
            </tr>
          <% end %>
          <% if @yfcase.exhibit3.present? %>
            <tr>
              <td style="width:20%;height:70px;">【證物3】</td>
              <td style="width:80%;height:70px;"><span class="bluefont"><%= @yfcase.exhibit3 %></span></td>
            </tr>
          <% end %>
          <% if @yfcase.exhibit4.present? %>
            <tr>
              <td style="width:20%;height:70px;">【證物4】</td>
              <td style="width:80%;height:70px;"><span class="bluefont"><%= @yfcase.exhibit4 %></span></td>
            </tr>
          <% end %>
        </table>
        <table style="font-size:16.5pt;width:100%">
            <tr>
              <td style="width:100%;height:200px;text-align:center;font-size:16.5pt;" colspan="2">
              中&emsp;華&emsp;民&emsp;國&emsp;<span class="bluefont"><%= @yfcase.tabulationDate.year-1911 %></span>&emsp;年&emsp;<span class="bluefont"><%= @yfcase.tabulationDate.month %></span>&emsp;月&emsp;<span class="bluefont"><%= @yfcase.tabulationDate.day %></span>&emsp;日</td>
            </tr>
            <tr>
              <td style="width:70%;height:70px;text-align:right;font-size:16.5pt;">具 狀 人</td>
              <td style="width:30%;height:70px;text-align:left;font-size:16.5pt;">
                <span class="bluefont">
                  <%= @yfcase.company %><br>法定代理人：陳美純
                </span>
              </td>
            </tr>
            <tr>
              <td style="width:70%;height:70px;text-align:right;font-size:16.5pt;">訴訟代理人</td>
              <td style="width:30%;height:70px;text-align:left;font-size:16.5pt;">
                <span class="bluefont">
                  <span class="bluefont"><%= @yfcase.complaintLitigationAgent.blank? ? '' : User.find(@complaintLitigationAgent).full_name %>
                </span>
              </td>
            </tr>
        </table>
      </div>
    <% end %>

</body>

</html>