<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 	<meta charset="UTF-8"> -->
    <title>存證信函狀</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <style type="text/css">
    body {
        /*楷體*/
        /*font-family: Arial,'cwTeXKai', serif; */
        font-family: 'bkai00mp','Roboto',sans-serif;
        font-size: 24px;
    }

    .page-break {
        page-break-before: always;
    }
    
    /*以下為新格式運用*/
    .letterPDF {
      border-collapse:collapse;
    }
    .letterPDF td {
      border:1px solid black;
    }
    .letterPDF .letterPDFPaper {
      border:none;
    }
    .letterPDFPostOffice {
      border-collapse:collapse;
      width:100%;
    }
    .letterPDFPostOffice td {
      border:none;
      height:70px;
      text-align:right;
      padding-right:10px;
      vertical-align:top;
    }

    .letterPDFInfo {
      border-collapse:collapse;
      width:100%;1
    }
    .letterPDFInfo td {
      border:none;
      font-size:12pt;
      padding:5px 0px 5px 5px;
    }

    .letterPDFRemark {
      border-collapse:collapse;
      width:100%;
    }
    .letterPDFRemark td {
      border:none;
      font-size:13pt;
      padding:3px 0px 3px 15px;
    }
    
    .letterPDFContent {
      border-collapse:collapse;
      width:100%;
    }
    .letterPDFContent td {
      border:none;
      vertical-align:top;
      font-size:12pt;
    }
    
    .letterPDFPaper {
      width:7%;
      font-size:14pt;
      text-align:center;
      vertical-align:top;
      padding-top:20px;

    }
    .lettertdTitle{
        padding:0px;
        margin:0px;
        text-align: center;
        font-size: 14pt;
        width:40px;
        height:50px;
    }  
    .lettertd{
        padding:0px;
        margin:0px;
        text-align: center;
        font-size: 24pt;
        width:40px;
        height:50px;
    }  
    
    .letterPDFAttachment{
      border-collapse: collapse;
      width:100%;
      font-size:30px;
    }
    .letterPDFAttachment td{
      font-size:14.5pt;
      padding:5px;
    }
    .letterPDFAttachment th{
      font-size:14.5pt;
    }
    .bluefont{
		  color:blue;
		  font-weight:bolder;
		}
    </style>
</head>

<body>
      <!--權利人的土地持分:-->
    <% @creditorLandholdingpointperson = @yfcase.creditorLandholdingpointperson %>
    <% @creditorLandholdingpointall = @yfcase.creditorLandholdingpointall %>
    <% @creditorLandholdingpoint = @creditorLandholdingpointperson.to_f / @creditorLandholdingpointall.to_f %>
    
    <!--權利人的建物持分:-->
    <% @creditorBuildholdingpointperson = @yfcase.creditorBuildholdingpointperson %>
    <% @creditorBuildholdingpointall = @yfcase.creditorBuildholdingpointall %>
    <% @creditorBuildholdingpoint = @creditorBuildholdingpointperson.to_f / @creditorBuildholdingpointall.to_f %>
    
    <!--共有人的土地持分(陣列):-->
    <% @ownerLandholdingpoint = @yfcase.personnals.map { |n| [n.right_share_person.to_f / n.right_share_all.to_f] }.flatten %>
    <% @ownerLandholdingpointAdd = @ownerLandholdingpoint.push(@creditorLandholdingpoint) %>
    <% @ownerLandholdingpointMin = @ownerLandholdingpointAdd.min %>
    <% @ownerLandholdingpointMax = @ownerLandholdingpointAdd.max %>
    <% @ownerLandholdingpointSum = @ownerLandholdingpointAdd.sum %>
    
    <!--共有人的建物持分(陣列):-->
    <% @ownerBuildholdingpoint = @yfcase.personnals.map { |n| [n.personnalBuildHoldingPointPerson.to_f / n.personnalBuildHoldingPointAll.to_f] }.flatten %>
    <% @ownerBuildholdingpointAdd = @ownerBuildholdingpoint.push(@creditorBuildholdingpoint) %>
    <% @ownerBuildholdingpointSum = @ownerBuildholdingpointAdd.sum %>
    
    <!--土地總面積-->
    <% @landTotalArea = @yfcase.lands.map { |n| [n.land_area.to_f] }.flatten.sum %>
    
    <!--最大值比較-->
    <!--最大值:@ownerMaxArray-->
    <% if @debtorLandholdingpoint == @ownerLandholdingpointMax %>
      <% @ownerMaxArrayPerson = @debtorLandholdingpointperson %>
      <% @ownerMaxArrayAll = @debtorLandholdingpointall %>
      <% @ownerMaxArrayValue = (@debtorLandholdingpointperson.to_f / @debtorLandholdingpointall.to_f) %>
    <% else %>
      <% @yfcase.personnals.each do |ownerLandholdingpoint| %>
        <!--共有人的個人持分:-->
        <% @ownerLandholdingpointPerson = ownerLandholdingpoint.right_share_person.to_f %>
        <!--共有人的所有持分:-->
        <% @ownerLandholdingpointAll = ownerLandholdingpoint.right_share_all.to_f %>
        <!--共有人的持分:-->
        <% @ownerLandholdingpoint = @ownerLandholdingpointPerson / @ownerLandholdingpointAll %>
        <% if @ownerLandholdingpoint == @ownerLandholdingpointMax %>
          <% @ownerMaxArrayPerson = ownerLandholdingpoint.right_share_person.to_s %>
          <% @ownerMaxArrayAll = ownerLandholdingpoint.right_share_all.to_s %>
          <% @ownerMaxArrayValue = (ownerLandholdingpoint.right_share_person.to_f / ownerLandholdingpoint.right_share_all.to_f) %>
        <% end %>
      <% end %>
    <% end %> 
    
    <!--最小值比較-->
    <!--最小值:@ownerMinArray-->
    <% if @debtorLandholdingpoint == @ownerLandholdingpointMin %>
      <% @ownerMinArrayPerson = @debtorLandholdingpointperson %>
      <% @ownerMinArrayAll = @debtorLandholdingpointall %>
      <% @ownerMinArrayValue = (@debtorLandholdingpointperson.to_f / @debtorLandholdingpointall.to_f) %>
    <% else %>
      <% @yfcase.personnals.each do |ownerLandholdingpoint| %>
        <!--共有人的個人持分:-->
        <% @ownerLandholdingpointPerson = ownerLandholdingpoint.right_share_person.to_f %>
        <!--共有人的所有持分:-->
        <% @ownerLandholdingpointAll = ownerLandholdingpoint.right_share_all.to_f %>
        <!--共有人的持分:-->
        <% @ownerLandholdingpoint = @ownerLandholdingpointPerson / @ownerLandholdingpointAll %>
        <% if @ownerLandholdingpoint == @ownerLandholdingpointMin %>
          <% @ownerMinArrayPerson = ownerLandholdingpoint.right_share_person.to_s %>
          <% @ownerMinArrayAll = ownerLandholdingpoint.right_share_all.to_s %>
          <% @ownerMinArrayValue = (ownerLandholdingpoint.right_share_person.to_f / ownerLandholdingpoint.right_share_all.to_f) %>
        <% end %>
      <% end %>
    <% end %> 
  <div style="text-align:center;padding-bottom:10px;font-size:22pt;">
    <b>郵  局  存  證  信  函  用  紙</b>
  </div>
  
  <table class="letterPDF">
    <tr>
      <td rowspan="16" class="letterPDFPaper">副&thinsp;正<br>本</td>
      <td colspan="7">
        <table class="letterPDFPostOffice">
          <tr>
            <td colspan="2">郵 局</td>
          </tr>
          <tr>
            <td style="width:55%">存證信函第</td>
            <td>號</td>
          </tr>
        </table>
      </td>
      <td colspan="14">
        <table class="letterPDFInfo">
          <tr>
            <td colspan="2" style="padding-left:10px;font-size:10pt;">
              〈寄件人如為機關、團體、學校、公司、商號請加蓋單位圖章及法定代理人簽名或蓋章〉
            </td>
          </tr>
          <tr>
            <td rowspan="2" style="width:20%;">一、寄件人</td>
            <td style="padding:0px;">
              <table >
                <tr>
                  <td>姓名： 揚富開發有限公司&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                  <td style="margin:0px;padding:0px 5px;border:1px solid black;">印</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>詳細地址：臺中市大里區新仁路三段49號</td>
          </tr>
          <tr>
            <td rowspan="2">二、收件人</td>
            <td>姓名：詳參附表</td>
          </tr>
          <tr>
            <td>詳細地址：詳參附表</td>
          </tr>
          <tr>
            <td rowspan="2">三、副&emsp;本<br>&emsp;&emsp;收件人</td>
            <td>姓名：</td>
          </tr>
          <tr>
            <td>詳細地址</td>
          </tr>
          <tr>
            <td colspan="2" style="padding-left:10px;">(本欄姓名、地址不敷填寫時，請另紙聯記)</td>
          </tr>
        </table>
      </td>
    </tr>
        <!--標題-->
	    <tr>
  			<td class="lettertdTitle">
  		    <p style="margin:0px;padding:3px;text-align:right;">格</p>
  		    <p style="margin:0px;padding:3px;text-align:left;">行</p>
  			</td>
  			<td class="lettertdTitle">1</td>
  			<td class="lettertdTitle">2</td>
  			<td class="lettertdTitle">3</td>
  			<td class="lettertdTitle">4</td>
  			<td class="lettertdTitle">5</td>
  			<td class="lettertdTitle">6</td>
  			<td class="lettertdTitle">7</td>
  			<td class="lettertdTitle">8</td>
  			<td class="lettertdTitle">9</td>
  			<td class="lettertdTitle">10</td>
  			<td class="lettertdTitle">11</td>
  			<td class="lettertdTitle">12</td>
  			<td class="lettertdTitle">13</td>
  			<td class="lettertdTitle">14</td>
  			<td class="lettertdTitle">15</td>
  			<td class="lettertdTitle">16</td>
  			<td class="lettertdTitle">17</td>
  			<td class="lettertdTitle">18</td>
  			<td class="lettertdTitle">19</td>
  			<td class="lettertdTitle">20</td>
		</tr>
		
		<!--第一行-->
		<tr>
		    <td class='lettertdTitle'>一</td>
        <td class='lettertd'>敬</td>
        <td class='lettertd'>啟</td>
        <td class='lettertd'>者</td>
        <td class='lettertd'>：</td>
        <td class='lettertd'>收</td>
        <td class='lettertd'>信</td>
        <td class='lettertd'>平</td>
        <td class='lettertd'>安</td>
        <td class='lettertd'>。</td>
        <td class='lettertd'>關</td>
        <td class='lettertd'>於</td>
        <td class='lettertd'>揚</td>
        <td class='lettertd'>富</td>
        <td class='lettertd'>開</td>
        <td class='lettertd'>發</td>
        <td class='lettertd'>有</td>
        <td class='lettertd'>限</td>
        <td class='lettertd'>公</td>
        <td class='lettertd'>司</td>
        <td class='lettertd'>與</td>
		</tr>
		
		<!--第二行-->
		<tr>
		    <td class='lettertdTitle'>二</td>
            <td class='lettertd'>台</td>
            <td class='lettertd'>端</td>
            <td class='lettertd'>間</td>
            <td class='lettertd'>共</td>
            <td class='lettertd'>有</td>
            <td class='lettertd'>[</td>
            <td class='lettertd'>附</td>
            <td class='lettertd'>表</td>
            <td class='lettertd'>]</td>
            <td class='lettertd'>所</td>
            <td class='lettertd'>示</td>
            <td class='lettertd'>不</td>
            <td class='lettertd'>動</td>
            <td class='lettertd'>產</td>
            <td class='lettertd'>，</td>
            <td class='lettertd'>為</td>
            <td class='lettertd'>解</td>
            <td class='lettertd'>決</td>
            <td class='lettertd'>共</td>
            <td class='lettertd'>有</td>
		</tr>
		
		<!--第三行-->
		<tr>
		    <td class='lettertdTitle'>三</td>
            <td class='lettertd'>權</td>
            <td class='lettertd'>屬</td>
            <td class='lettertd'>複</td>
            <td class='lettertd'>雜</td>
            <td class='lettertd'>致</td>
            <td class='lettertd'>不</td>
            <td class='lettertd'>利</td>
            <td class='lettertd'>長</td>
            <td class='lettertd'>期</td>
            <td class='lettertd'>規</td>
            <td class='lettertd'>劃</td>
            <td class='lettertd'>使</td>
            <td class='lettertd'>用</td>
            <td class='lettertd'>問</td>
            <td class='lettertd'>題</td>
            <td class='lettertd'>，</td>
            <td class='lettertd'>歡</td>
            <td class='lettertd'>迎</td>
            <td class='lettertd'>您</td>
            <td class='lettertd'>於</td>
		</tr>
		
		<!--第四行-->
		<tr>
		   <td class='lettertdTitle'>四</td>
            <td class='lettertd'>十</td>
            <td class='lettertd'>日</td>
            <td class='lettertd'>內</td>
            <td class='lettertd'>與</td>
            <td class='lettertd'>揚</td>
            <td class='lettertd'>富</td>
            <td class='lettertd'>開</td>
            <td class='lettertd'>發</td>
            <td class='lettertd'>有</td>
            <td class='lettertd'>限</td>
            <td class='lettertd'>公</td>
            <td class='lettertd'>司</td>
            <td class='lettertd'><%= current_user.full_name.at(0) %></td>
            <td class='lettertd'><%= current_user.full_name.at(1) %></td>
            <td class='lettertd'><%= current_user.full_name.at(2) %></td>
            <td class='lettertd'>先</td>
            <td class='lettertd'>生</td>
            <td class='lettertd'>(</td>
            <td class='lettertd'><%= current_user.userMobilePhone.blank? ? '' : current_user.userMobilePhone.at(0) %></td>
            <td class='lettertd'><%= current_user.userMobilePhone.blank? ? '' : current_user.userMobilePhone.at(1) %></td>
		</tr>
    
		<!--第五行-->
		<tr>
		    <td class='lettertdTitle'>五</td>
            <td class='lettertd'><%= current_user.userMobilePhone.blank? ? '' : current_user.userMobilePhone.at(2) %></td>
            <td class='lettertd'><%= current_user.userMobilePhone.blank? ? '' : current_user.userMobilePhone.at(3) %></td>
            <td class='lettertd'>-</td>
            <td class='lettertd'><%= current_user.userMobilePhone.blank? ? '' : current_user.userMobilePhone.at(4) %></td>
            <td class='lettertd'><%= current_user.userMobilePhone.blank? ? '' : current_user.userMobilePhone.at(5) %></td>
            <td class='lettertd'><%= current_user.userMobilePhone.blank? ? '' : current_user.userMobilePhone.at(6) %></td>
            <td class='lettertd'><%= current_user.userMobilePhone.blank? ? '' : current_user.userMobilePhone.at(7) %></td>
            <td class='lettertd'><%= current_user.userMobilePhone.blank? ? '' : current_user.userMobilePhone.at(8) %></td>
            <td class='lettertd'><%= current_user.userMobilePhone.blank? ? '' : current_user.userMobilePhone.at(9) %></td>
            <td class='lettertd'>)</td>
            <td class='lettertd'>聯</td>
            <td class='lettertd'>繫</td>
            <td class='lettertd'>並</td>
            <td class='lettertd'>完</td>
            <td class='lettertd'>成</td>
            <td class='lettertd'>協</td>
            <td class='lettertd'>議</td>
            <td class='lettertd'>，</td>
            <td class='lettertd'>倘</td>
            <td class='lettertd'>協</td>
		</tr>
		
		<!--第六行-->
		<tr>
		    <td class='lettertdTitle'>六</td>
            <td class='lettertd'>議</td>
            <td class='lettertd'>不</td>
            <td class='lettertd'>成</td>
            <td class='lettertd'>，</td>
            <td class='lettertd'>續</td>
            <td class='lettertd'>依</td>
            <td class='lettertd'>民</td>
            <td class='lettertd'>事</td>
            <td class='lettertd'>訴</td>
            <td class='lettertd'>訟</td>
            <td class='lettertd'>序</td>
            <td class='lettertd'>訴</td>
            <td class='lettertd'>請</td>
            <td class='lettertd'>裁</td>
            <td class='lettertd'>判</td>
            <td class='lettertd'>分</td>
            <td class='lettertd'>割</td>
            <td class='lettertd'>共</td>
            <td class='lettertd'>有</td>
            <td class='lettertd'>物</td>
		</tr>
		
		<!--第七行-->
		<tr>
		   <td class='lettertdTitle'>七</td>
            <td class='lettertd'>，</td>
            <td class='lettertd'>謹</td>
            <td class='lettertd'>請</td>
            <td class='lettertd'>諒</td>
            <td class='lettertd'>悉</td>
            <td class='lettertd'>。</td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
		</tr>
		
		<!--第八行-->
		<tr>
		   <td class='lettertdTitle'>八</td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
		</tr>
		
		<!--第九行-->
		<tr>
		    <td class='lettertdTitle'>九</td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
		</tr>
		
		<!--第十行-->
		<tr>
		    <td class='lettertdTitle'>十</td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
            <td class='lettertd'></td>
		</tr>

    <tr>
      <td colspan="17" rowspan="2">
        <table class="letterPDFContent">
          <tr>
            <td rowspan="5" style="width:16%;">本存證信函共</td>
            <td style="width:10%;"></td>
            <td style="width:11%;">頁,正本</td>
            <td style="width:8%;"></td>
            <td style="width:12%;">份,存證費</td>
            <td style="width:12%;"></td>
            <td>元,</td>
          </tr>
          <tr>
            <td></td>
            <td>副本</td>
            <td></td>
            <td>份,存證費</td>
            <td></td>
            <td>元,</td>
          </tr>
          <tr>
            <td></td>
            <td>附件</td>
            <td></td>
            <td>份,存證費</td>
            <td></td>
            <td>元,</td>
          </tr>
          <tr>
            <td></td>
            <td>加具正本</td>
            <td></td>
            <td>份,存證費</td>
            <td></td>
            <td>元,</td>
          </tr>
          <tr>
            <td></td>
            <td>加具副本</td>
            <td></td>
            <td>份,存證費</td>
            <td></td>
            <td>元,</td>
          </tr>
          <tr>
            <td colspan="7" style="height:10px;"></td>
          </tr>
          <tr>
            <td colspan="2" style="text-align:right;">經&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;郵局</td>
            <td colspan="3"></td>
            <td colspan="2">經辦員</td>

          </tr>
          <tr>
            <td colspan="2" style="text-align:right;vertical-align:middle;">年&emsp;&emsp;月&emsp;&emsp;日證明</td>
            <td colspan="3">
              <table style="border-collapse:collapse;">
                <tr>
                  <td>正</td>
                  <td rowspan="2" style="vertical-align:middle;">本內容完全相同</td>
                </tr>
                <tr>
                  <td style="padding:0px;">副</td>
                </tr>
              </table>
            </td>
            <td colspan="2" style="vertical-align:middle;">主管</td>

          </tr>
        </table>
      </td>
      <td colspan="2" style="height:80px;text-align:center;">黏</td>
      <td colspan="2" style="text-align:center;">貼</td>
    </tr>
    <tr>
      <td colspan="4" style="border-bottom:none;text-align:center;">郵&emsp;票&emsp;或</td>
    </tr>
    <tr>
      <td rowspan="2" style="text-align:center;">備<br><br>註</td>
      <td colspan="16" rowspan="2">
        <table class="letterPDFRemark">
          <tr>
            <td colspan="2">
              一、存證信函需送交郵局辦理證明手續後始有效，自交寄之日起由郵局保存之副<br>
              &emsp;&emsp;本，於三年期滿後銷燬之。
            </td>
          </tr>
          <tr>
            <td style="width:60%;font-size:12pt;padding-left:0px;">
              <table style="border-collapse:collapse;">
                <tr>
                  <td rowspan="2" style="padding-left:15px;">二、在&emsp;&emsp;頁&emsp;&emsp;行第&emsp;&emsp;&emsp;格下</td>
                  <td style="padding:0px;">塗改</td>
                  <td rowspan="2">&emsp;字</td>
                </tr>
                <tr>
                  <td style="padding:0px;">增刪</td>
                </tr>
              </table>
            </td>
            <td style="padding:0px;">
              <table style="border-collapse:collapse;width:100%">
                <tr>
                  <td rowspan="2" style="width:20%;"></td>
                  <td style="font-size:10pt;padding-left:5px;">( 如有修改應填註本欄並蓋用<br>寄件人印章，但塗改增刪 )</td>
                </tr>
                <tr>
                  <td style="font-size:10pt;padding-left:5px;">每頁至多不得逾二十字。</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              三、每件一式三份，用不脫色筆或打字機複寫，或書寫後複印、影印，每格限書<br>
              &emsp;&emsp;一字，色澤明顯、字跡端正。
            </td>
          </tr>
        </table>
      </td>
    <td colspan="4" style="border-top:none;height:60px;text-align:center;">郵&emsp;資&emsp;券</td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:center;">處</td>
      <td colspan="2"></td>
    </tr>
  </table>
  
 


    <!-- 附表 -->
    <div class="page-break">
      
        
      
      
        <table class="letterPDFAttachment">
            <tr>
                <td colspan="2" style="font-size:14.5pt;padding-bottom:10px;">附表：</td>
                <td></td>
            </tr>
            
            <tr>
                <th style="border:1px solid black;" rowspan="3">
                  共有人設籍<br>
                </th>
                <th style="border:1px solid black;" colspan="2"><%= @yfcase.country.try(:name) %><%= @yfcase.township.try(:name) %><%= @yfcase.other_address %><br>房地應有部分比例</th>
            </tr>
            <tr>
              <th style="border:1px solid black;">地號</th>
              <th style="border:1px solid black;">建號</th>
            </tr>
            <tr>
                <th style="border:1px solid black;">
                    <% @yfcase.lands.each do |land|%>
                    <%= @yfcase.big_section %><%= land.land_number %><br>
                    <% end %>
                </th>
                <th style="border:1px solid black;">
                    <% @yfcase.builds.where('build_type_use != ? and build_type_use != ?','0公設','12增建(持分後坪數打對折)').each do |build|%>
                    <%= @yfcase.big_section %><%= build.build_number %><br>
                    <% end %>
                </th>
            </tr>
            
            
           
            
            <!--共有人 : 房地應有部分比例-->
            <% @yfcase.personnals.each do |debtor| %>
              <tr style="font-size:12pt;">
                <td style="border:1px solid black;text-align:left;">
                  <span class="bluefont">
                    <%= debtor.name %><br>
                    <%= debtor.ownerFullAddress %>
                  </span>
                </td>
                <td style="border:1px solid black;text-align:center;">
                  <span class="bluefont">
                    <%= numberToChinese(debtor.right_share_all) %>分之<%= numberToChinese(debtor.right_share_person) %>
                  </span>
                </td>
                <td style="border:1px solid black;text-align:center;">
                  <span class="bluefont">
                    <%= numberToChinese(debtor.personnalBuildHoldingPointAll) %>分之<%= numberToChinese(debtor.personnalBuildHoldingPointPerson) %>
                  </span>
                </td>
              </tr>
            <% end %>
            
             <!--權利人 : 房地應有部分比例-->
            <tr>
              <tr style="font-size:14.5pt;">
                <td style="border:1px solid black;text-align:left;">
                  <span class="bluefont">
                    <% if @yfcase.creditorName.blank? %>
                      <%= @yfcase.company %><br>
                      <% User.where(full_name: @yfcase.company).each do |creditorInfo| %>
                        <%= creditorInfo.userCountry %><%= creditorInfo.userTownship %><%= creditorInfo.userVillage %><%= creditorInfo.userStreet %><%= creditorInfo.userSection %><%= creditorInfo.userNeighbor %><%= creditorInfo.userLane %><%= creditorInfo.userAlley %><%= creditorInfo.userNumber %><%= creditorInfo.userFloor %>
                      <% end %>
                    <% else %>
                      <%= @yfcase.creditorName %><br>
                      <%= @yfcase.creditorCountry %><%= @yfcase.creditorTownship %><%= @yfcase.creditorVillage %><%= @yfcase.creditorStreet %><%= @yfcase.creditorSection %><%= @yfcase.creditorNeighbor %><%= @yfcase.creditorLane %><%= @yfcase.creditorAlley %><%= @yfcase.creditorNumber %><%= @yfcase.creditorFloor %>
                    <% end %>
                  </span>
                </td>
                <td style="border:1px solid black;text-align:center;">
                  <span class="bluefont">
                    <% if @yfcase.creditorLandholdingpointperson.present? && @yfcase.creditorLandholdingpointall.present? %>
                 
                      <%= numberToChinese(@yfcase.creditorLandholdingpointall.to_i)+"分之"+numberToChinese(@yfcase.creditorLandholdingpointperson.to_i) %><br>
                    <% end %>
                  </span>
                </td>
                <td style="border:1px solid black;text-align:center;">
                  <span class="bluefont">
                    <% if @yfcase.creditorBuildholdingpointperson.present? && @yfcase.creditorBuildholdingpointall.present? %>
            
                      <%= numberToChinese(@yfcase.creditorBuildholdingpointall.to_i)+"分之"+numberToChinese(@yfcase.creditorBuildholdingpointperson.to_i) %><br>
                    <% end %>
                  </span>
                </td>
              </tr>
            </tr>
            
            
    
            <tr>
                <th style="border:1px solid black;">合計</th>
                <th style="border:1px solid black;"><%= @ownerLandholdingpointSum == 1 ? "全部" : "持分比例有誤("+@ownerLandholdingpointSum.to_s+")" %></th>
                <th style="border:1px solid black;"><%= @ownerBuildholdingpointSum == 1 ? "全部" : "持分比例有誤("+@ownerBuildholdingpointSum.to_s+")" %></th>
            </tr>
        </table>
        
    </div>
    
</body>

</html>