<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 	<meta charset="UTF-8"> -->
    <title>不動產登記</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <style type="text/css">
	    body {
        /*楷體*/
        /*font-family: Arial,'cwTeXKai', serif; */
        /*font-family: 'bkai00mp','Roboto',sans-serif;*/
        font-family: 'Noto Sans TC','Roboto',sans-serif;
        font-size: 24pt;
        font-weight : border;
	    }
      .page-break {
        page-break-before: always;
      }
    	.firstdata:after {
  		  content: "";
  		  display: table;
  		  clear: both;
  		}
  		.realestateregistrationLand {
  		    border-collapse: collapse;
  		    width:100%;
  		    font-size:18pt;
  		    /*border: 1px solid black;*/
  		}
  		.realestateregistrationLand tr th {
  		    border: 1px solid black;
  		}
  		.realestateregistrationLand tr td {
  		    color:blue;
  		    text-align:center;
  		    width:11.7%;
  		    border: 1px solid black;
  		}
  		.realestateregistrationBuild {
  		    border-collapse: collapse;
  		    width:100%;
  		    font-size:18pt;
  		    /*border: 1px solid black;*/
  		}
  		.realestateregistrationBuild tr th {
  		    border: 1px solid black;
  		}
  		.realestateregistrationBuild tr td {
  		  text-align: center;
  		  vertical-align: middle;
  		  color:blue;
  		  width:18%;
  	    border: 1px solid black;
  	    height: 38px;
  		}
  		.realestateregistrationSix {
  		  border-collapse: collapse;
  		  border-top:hidden;
  		  font-size:13pt;;
  		  width:100%
  		}
  		.realestateregistrationSix tr{
  		  height:20px;
  		}
  		.realestateregistrationSix td{
  		  border:1px solid black;
  		}
  		.realestateregistrationSixItem{
  		  width:28%;
  		  text-align:left;
  		}
  		.realestateregistrationSixValue{
  		  width:4%;
  		  border-left:hidden;
  		  text-align:right;
  		}
  		.bluefont{
  		  color:blue;
  		  font-weight:bolder;
  		}
    </style>
</head>

<body>
    <% @realestateregistrationRealEstateAgent = @yfcase.realestateregistrationRealEstateAgent.blank? ? @yfcase.user_id : @yfcase.realestateregistrationRealEstateAgent.to_s %>
    <!-- 前導資料 -->
    <div class="firstdata">
    	<div style="float: left;width: 40%;">
    		<table style="border-collapse: collapse;font-size:13pt;text-align: center;">
          <tr>
            <td style="border:1px solid black;width:4%;text-align:center;height:102px;" rowspan="2">收<br><br>件</td>
            <td style="border:1px solid black;width:3%;height:51px;">日期</td>
            <td style="border:1px solid black;width:19%;height:51px;text-align:right;">年&ensp;&emsp;月&ensp;&emsp;日&ensp;&emsp;時&ensp;&emsp;分&ensp;</td>
            <td style="border:1px solid black;width:5%;" rowspan="2">收件<br><br>者章</td>
            <td style="border:1px solid black;width:7%;" rowspan="2"></td>
            <td style="border-style:none;width:1%;" rowspan="2"></td>
          </tr>
          <tr style="height:28px;">
            <td style="border:1px solid black;">字號</td>
            <td style="border:1px solid black;text-align:right;"> 字第&emsp;&emsp;&emsp;&emsp;&emsp;號&ensp;</td>
          </tr>
        </table>
    	</div>
    	<div style="float: left;width: 27%;">
        <table style="border-collapse: collapse;font-size:13pt;text-align: center;">
          <tr>
            <td style="border:1px solid black;width:9%;height:102px;">連件序別<br>（非連件<br>者免填）</td>
            <td style="border:1px solid black;width:7%;">共&emsp; &emsp; 件</td>
            <td style="border:1px solid black;width:7%;">第&emsp; &emsp; 件</td>
            <td style="border-style:none;width:1%;"></td>
          </tr>
        </table>
    	</div>
    	<div style="float: left;width: 33%;">
        <table style="border-collapse: collapse;font-size:13pt;text-align: center;">
          <tr>
            <td style="border:1px solid black;width:8%;height:32px;">登記費</td>
            <td style="border:1px solid black;width:10%;text-align:right;">元&ensp;</td>
            <td style="border:1px solid black;width:7%;">合 計</td>
            <td style="border:1px solid black;width:12%;text-align:right;">元&ensp;</td>
          </tr>
          <tr>
            <td style="border:1px solid black;height:32px;">書狀費</td>
            <td style="border:1px solid black;text-align:right;">元&ensp;</td>
            <td style="border:1px solid black;">收 據</td>
            <td style="border:1px solid black;text-align:right;">字&emsp;&emsp;&emsp;號&ensp;</td>
          </tr>
          <tr>
            <td style="border:1px solid black;height:32px;">罰 鍰</td>
            <td style="border:1px solid black;text-align:right;">元&ensp;</td>
            <td style="border:1px solid black;">核算者</td>
            <td style="border:1px solid black;"></td>
          </tr>
        </table>
    	</div>

    </div>
	  <div style="height:18px;"></div>
	  
    <!-- 土地登記申請書標題 -->
    <table style="border-collapse: collapse;border:1px solid black;font-size:28px;text-align:center;width:100%;">
    	<tr>
    		<td>土        地        登        記        申        請        書</td>
    	</tr>
    </table>
    
    <!-- (1)受理機關 / (2)原因發生日期 -->
    <table style="border-collapse: collapse;font-size:13pt;text-align:center;width:100%;border-top:hidden;">
        <tr>
            <td style="border:1px solid black;width:9%;height:90px;" rowspan="2">(1)<br>受理<br>機關</td>
            <td style="border-top:1px solid black;width:10%;text-align:right;height:45px;">
                <sanp class="bluefont"><%= @yfcase.country.try(:name).at(-1) == '縣' ? @yfcase.country.try(:name).at(-3..-2) : '' %></sanp>縣
            </td>
            <td style="border-top:1px solid black;width:17%;text-align:right;"><sanp  class="bluefont"><%= @yfcase.township.try(:land_office).blank? ? '' : @yfcase.township.try(:land_office) %></sanp>地政事務所</td>
            <td style="border:1px solid black;width:6%;" rowspan="2">資料管<br>轄機關</td>
            <td style="border:1px solid black;width:21%;text-align:right;" rowspan="2">
                <sanp class="bluefont"><%= @yfcase.country.try(:name).at(-1) == '縣' ? @yfcase.country.try(:name).at(-3..-2) : '' %></sanp>縣<br>
                <sanp class="bluefont"><%= @yfcase.country.try(:name).at(-1) == '市' ? @yfcase.country.try(:name).at(-3..-2) : '' %></sanp>市<br>
                <sanp class="bluefont"><%= @yfcase.township.try(:land_office).blank? ? '' : @yfcase.township.try(:land_office) %></sanp>地政事務所
            </td>
            <td style="border:1px solid black;width:10%;" rowspan="2">(2)原因發生<br>日    期</td>
            <td style="border:1px solid black;width:26%;" rowspan="2">
                
                <% if @yfcase.cause_data.blank? %>
                    中華民國    年    月    日
                <% else %>
                    中華民國 <sanp class="bluefont"><%= @yfcase.cause_data.year-1911 %></sanp> 年 <sanp class="bluefont"><%= @yfcase.cause_data.month %></sanp> 月 <sanp class="bluefont"><%= @yfcase.cause_data.day %></sanp> 日
                <% end %>
            </td>
        </tr>
        <tr style="height:28px;">
            <td style="border-bottom:1px solid black;text-align:right;height:45px;">
                <sanp class="bluefont"><%= @yfcase.country.try(:name).at(-1) == '市' ? @yfcase.country.try(:name).at(-3..-2) : '' %></sanp>市
            </td>
            <td style="border-bottom:1px solid black;text-align:right;">&#9744 跨所申請</td>
        </tr>
    </table>
    
    <!-- (3)申請登記事由 /(4)登記原因 -->
    <table style="border-collapse: collapse;font-size:13pt;text-align:left;width:100%;border-top:hidden;">
        <tr style="height:28px;">
            <td style="border:1px solid black;width:32%;height:25px;">(3)申請登記事由（選擇打ˇ一項）</td>
            <td style="border:1px solid black;width:68%;">(4)登記原因（選擇打ˇ一項）</td>
        </tr>

        <tr style="height:25px;">
            <td style="border:1px solid black;">
                &#9744 所有權第一次登記
            </td>
            <td style="border:1px solid black;">&#9744 第一次登記</td>
        </tr>

        <tr style="height:25px;">
            <td style="border:1px solid black;">
                <sanp class="bluefont">&#9745</sanp> 所有權移轉登記
            </td>
            <td style="border:1px solid black;">
                <% if @yfcase.reason_for_registration == "買賣" %>
                    <sanp class="bluefont">&#9745</sanp> 買賣  &#9744 贈與  &#9744 繼承  &#9744 分割繼承  &#9744 拍賣  &#9744 共有物分割  &#9744 調解 
                <% elsif @yfcase.reason_for_registration == "拍賣" %>
                    &#9744 買賣  &#9744 贈與  &#9744 繼承  &#9744 分割繼承  <sanp class="bluefont">&#9745</sanp> 拍賣  &#9744 共有物分割  &#9744 調解
                <% else %>
                    &#9744 買賣  &#9744 贈與  &#9744 繼承  &#9744 分割繼承  &#9744 拍賣  &#9744 共有物分割  &#9744 調解
                <% end %>
            </td>
        </tr>

        <tr style="height:25px;">
            <td style="border:1px solid black;">
                <%= @yfcase.application_for_registration == "抵押權登記" ? "\u2611" : "\u2610" %> 抵押權登記
            </td>
            <td style="border:1px solid black;">&#9744 設定  &#9744 法定  &#9744 </td>
        </tr>

        <tr style="height:25px;">
            <td style="border:1px solid black;">
                <%= @yfcase.application_for_registration == "抵押權塗銷登記" ? "\u2611" : "\u2610" %> 抵押權塗銷登記
            </td>
            <td style="border:1px solid black;">&#9744 清償  &#9744 拋棄  &#9744 混同  &#9744 判決塗銷  &#9744 </td>
        </tr>

        <tr style="height:25px;">
            <td style="border:1px solid black;">
                <%= @yfcase.application_for_registration == "抵押權內容變更登記" ? "\u2611" : "\u2610" %> 抵押權內容變更登記
            </td>
            <td style="border:1px solid black;">&#9744 權利價值變更   &#9744 權利內容等變更  &#9744 </td>
        </tr>

        <tr style="height:25px;">
            <td style="border:1px solid black;">
                <%= @yfcase.application_for_registration == "標示變更登記" ? "\u2611" : "\u2610" %> 標示變更登記
            </td>
            <td style="border:1px solid black;">&#9744 分割  &#9744 合併  &#9744 地目變更  &#9744 </td>
        </tr>

        <tr style="height:25px;">
            <td style="border:1px solid black;">&#9744 </td>
            <td style="border:1px solid black;">&#9744 </td>
        </tr>
        
    </table>
    
    <!-- (5)標示及申請權利內容 -->
    <table style="border-collapse: collapse;font-size:13pt;text-align:left;width:100%;border-top:hidden;">
        <tr style="height:28px;">
            <td style="border:1px solid black;width:21%;height:28px;">(5)標示及申請權利內容</td>
            <td style="border:1px solid black;">
                詳如  &#9744 契約書  <sanp class="bluefont">&#9745</sanp> 登記清冊  &#9744 複丈結果通知書  &#9744 建物測量成果圖  &#9744
            </td>
        </tr>
    </table>
    
    <!-- (6)附繳證件 -->
    <table class="realestateregistrationSix">
        <tr>
            <td rowspan="3" style="text-align:center;">(6)<br>附繳<br>證件</td>
            <td class="realestateregistrationSixItem">
              <% if @yfcase.reason_for_registration == "買賣" %>
                1. <sanp class="bluefont">土地建物買賣契約書正副本各</sanp> 
              <% elsif @yfcase.reason_for_registration == "拍賣" %>
                1. <sanp class="bluefont">法院產權移轉證明書正影本各</sanp> 
              <% else %>
                1.
              <% end %>
            </td>
            <td class="realestateregistrationSixValue" style="border-left:hidden;">
              <sanp class="bluefont"><%= (@yfcase.reason_for_registration == "買賣" || @yfcase.reason_for_registration == "拍賣") ? "1" : "" %></sanp> 份
            </td>
            <td class="realestateregistrationSixItem">
              <% if @yfcase.reason_for_registration == "買賣" %>
                4. <sanp class="bluefont">契稅繳（免）稅證明</sanp> 
              <% elsif @yfcase.reason_for_registration == "拍賣" %>
                4. <sanp class="bluefont">公司變更登記事項卡</sanp> 
              <% else %>
                4.
              <% end %>
            </td>
            <td class="realestateregistrationSixValue" style="border-left:hidden;">
              <sanp class="bluefont"><%= (@yfcase.reason_for_registration == "買賣" || @yfcase.reason_for_registration == "拍賣") ? "1" : "" %></sanp> 份
            </td>
            <td class="realestateregistrationSixItem">
              7. <sanp class="bluefont"><%= @yfcase.reason_for_registration == "買賣" ? "印鑑證明" : "" %></sanp>
            </td>
            <td class="realestateregistrationSixValue" style="border-left:hidden;">
              <sanp class="bluefont"><%= @yfcase.reason_for_registration == "買賣" ? "1" : "" %></sanp> 份
            </td>

        </tr>
        <tr>
            <td class="realestateregistrationSixItem">
              <% if @yfcase.reason_for_registration == "買賣" %>
                2. <sanp class="bluefont">土地所有權狀</sanp> 
              <% elsif @yfcase.reason_for_registration == "拍賣" %>
                2. <sanp class="bluefont">身分證影本</sanp> 
              <% else %>
                2.
              <% end %>
            </td>
            <td class="realestateregistrationSixValue" style="border-left:hidden;">
              <sanp class="bluefont"><%= (@yfcase.reason_for_registration == "買賣" || @yfcase.reason_for_registration == "拍賣") ? "1" : "" %></sanp> 份
            </td>
            <td class="realestateregistrationSixItem">
              <% if @yfcase.reason_for_registration == "買賣" %>
                5. <sanp class="bluefont">土地增值稅繳（免）稅證明</sanp>
              <% elsif @yfcase.reason_for_registration == "拍賣" %>
                5. <sanp class="bluefont">公司負責人身分證明文件</sanp>
              <% else %>
                5.
              <% end %>
            </td>
            <td class="realestateregistrationSixValue" style="border-left:hidden;">
              <sanp class="bluefont"><%= (@yfcase.reason_for_registration == "買賣" || @yfcase.reason_for_registration == "拍賣") ? "1" : "" %></sanp> 份
            </td>
            <td class="realestateregistrationSixItem">8. </td>
            <td class="realestateregistrationSixValue" style="border-left:hidden;"> 份</td>
        </tr>
        <tr>
            <td class="realestateregistrationSixItem">
              <% if @yfcase.reason_for_registration == "買賣" %>
                3. <sanp class="bluefont">建物所有權狀</sanp> 
              <% elsif @yfcase.reason_for_registration == "拍賣" %>
                3. <sanp class="bluefont">契稅繳（免）納證明</sanp> 
              <% else %>
                3.
              <% end %>
            </td>
            <td class="realestateregistrationSixValue" style="border-left:hidden;">
              <sanp class="bluefont"><%= (@yfcase.reason_for_registration == "買賣" || @yfcase.reason_for_registration == "拍賣") ? "1" : "" %></sanp> 份
            </td>
            <td class="realestateregistrationSixItem">
              <% if @yfcase.reason_for_registration == "買賣" %>
                6. <sanp class="bluefont">身分證影本</sanp> 
              <% elsif @yfcase.reason_for_registration == "拍賣" %>
                6. <sanp class="bluefont">授權書</sanp> 
              <% else %>
                6.
              <% end %>
            </td>
            <td class="realestateregistrationSixValue" style="border-left:hidden;">
              <% if @yfcase.reason_for_registration == "買賣" %>
                <sanp class="bluefont">2</sanp> 
              <% elsif @yfcase.reason_for_registration == "拍賣" %>
                <sanp class="bluefont">1</sanp> 
              <% else %>
                <%= "" %>
              <% end %>
              份
            </td>
            <td class="realestateregistrationSixItem">9. </td>
            <td class="realestateregistrationSixValue" style="border-left:hidden;"> 份</td>
        </tr>
    </table>
    
    <!-- (7)委任關係 /(8)聯絡方式 /(9)備註-->
    <table style="border-collapse: collapse;font-size:13pt;text-align:center;width:100%;border-top:hidden;">
        <tr>
          <td style="border:1px solid black;width:8%;" rowspan="3">(7)<br>委任<br>關係</td>
          <td style="border:1px solid black;width:60%;text-align:left;" rowspan="3">
          	本土地登記案之申請委託&emsp;<sanp class="bluefont"><%= (@yfcase.realestateregistrationRealEstateAgent.present? || @yfcase.user_id.present?) ? User.find(@realestateregistrationRealEstateAgent).full_name : '' %></sanp>&emsp;代理。&emsp;&emsp;&emsp;
          	複代理。<br>委託人確為登記標的物之權利人或權利關係人，並經核對身分無誤，如有虛偽不實，本代理人(複代理人)願負法律責任。 
		      </td>
          <td style="border:1px solid black;width:3%;" rowspan="8">(8)<br>聯<br>絡<br>方<br>式</td>
          <td style="border:1px solid black;width:14%;height:28px;">權利人電話</td>
          <td style="border:1px solid black;width:15%;color:blue;">
             <sanp class="bluefont"><%= @yfcase.creditorMobilelphone.present? ? @yfcase.creditorMobilelphone : '' %></sanp>
          </td>
        </tr>
        <tr>
          <td style="border:1px solid black;height:28px;">義務人電話</td>
          <td style="border:1px solid black;color:blue;">
            <sanp class="bluefont"><%= @yfcase.debtorMobilelphone.present? ?  @yfcase.debtorMobilelphone : '' %></sanp>
          </td>        	
        </tr>
        <tr>
          <td style="border:1px solid black;height:28px;">代理人聯絡電話</td>
          <td style="border:1px solid black;color:blue;">
            <sanp class="bluefont"><%= @yfcase.realestateregistrationRealEstateAgent.present? ? User.find(@realestateregistrationRealEstateAgent).userMobilePhone : '' %></sanp>
          </td>        	
        </tr>
        <tr>
          <td style="border:1px solid black;width:5%;" rowspan="4">(9)<br>備<br><br>註</td>
          <td style="border:1px solid black;width:63%;color:blue;" rowspan="4"><%= @yfcase.registration_notes %></td>
          <td style="border:1px solid black;height:28px;">傳真電話</td>
          <td style="border:1px solid black;color:blue;"></td>
        </tr>
        <tr style="height:20px;">
          <td style="border:1px solid black;height:28px;">電子郵件信箱</td>
          <td style="border:1px solid black;color:blue;">
            <sanp class="bluefont" style="font-size:11pt;"><%= @yfcase.realestateregistrationRealEstateAgent.present? ? User.find(@realestateregistrationRealEstateAgent).email : '' %></sanp>
          </td>
        </tr>
        <tr style="height:20px;">
          <td style="border:1px solid black;height:28px;">不動產經紀人姓名</td>
          <td style="border:1px solid black;color:blue;"></td>
        </tr>
        <tr style="height:20px;">
          <td style="border:1px solid black;height:28px;">不動產經紀人電話</td>
          <td style="border:1px solid black;color:blue;"></td>
        </tr>
    </table>
    <br>
    
    
    <div class="page-break">
      <!-- (10)-(16) -->
      <table style="border-collapse: collapse;font-size:14pt;width:100%;text-align:center;">
        <tr>
            <td style="border:1px solid black;width:4%" rowspan="7">(10)<br>申<br><br>請<br><br>人</td>
            <td style="border:1px solid black;width:9%;" rowspan="2">(11)<br>權利人<br>或<br>義務人</td>
            <td style="border:1px solid black;width:9%;" rowspan="2">(12)<br>姓  名<br>或<br>名  稱</td>
            <td style="border:1px solid black;width:13%;" rowspan="2">(13)<br>出  生<br><br>年月日</td>
            <td style="border:1px solid black;width:11%;" rowspan="2">(14)<br>統一編號</td>
            <td style="border:1px solid black;width:150px;" colspan="11">(15)   住    所</td>
            <td style="border:1px solid black;width:7%;text-align:center;" rowspan="2">(16)<br>簽　章</td>
        </tr>
        <tr style="height:28px;">
            <td style="border:1px solid black;width:6%;">縣市</td>
            <td style="border:1px solid black;width:6%;">鄉鎮<br>市區</td>
            <td style="border:1px solid black;width:6%;">村里</td>
            <td style="border:1px solid black;width:5%;">鄰</td>
            <td style="border:1px solid black;width:5%;">街路</td>
            <td style="border:1px solid black;width:3%;">段</td>
            <td style="border:1px solid black;width:4%;">巷</td>
            <td style="border:1px solid black;width:3%;">弄</td>
            <td style="border:1px solid black;width:5%;">號</td>
            <td style="border:1px solid black;width:3%;">樓</td>
            <td style="border:1px solid black;width:2%;"></td>
        </tr>
        <!--義務人-->
        <tr style="height:28px;color:blue;">
            <td style="border:1px solid black;height:50px;">
              <sanp class="bluefont"><%= @yfcase.debtorName.present? ? '義務人' : '' %></sanp>
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont"><%= @yfcase.debtorName.present? ? @yfcase.debtorName : '' %></sanp>                
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont">
                <% if @yfcase.debtorBirthday.present? %>
                  民國<%= @yfcase.debtorBirthday.year.to_i-1911 %>年<%= @yfcase.debtorBirthday.month.to_i %>月<%= @yfcase.debtorBirthday.day.to_i %>日
                <% end %>
              </sanp> 
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont"><%= @yfcase.debtorIdentitycard.present? ? @yfcase.debtorIdentitycard : '' %></sanp> 
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont"><%= @yfcase.debtorCountry.present? ? @yfcase.debtorCountry : '' %></sanp> 
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont"><%= @yfcase.debtorTownship.present? ? @yfcase.debtorTownship : '' %></sanp> 
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont"><%= @yfcase.debtorVillage.present? ? @yfcase.debtorVillage : '' %></sanp> 
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont"><%= @yfcase.debtorNeighbor.present? ? @yfcase.debtorNeighbor : '' %></sanp> 
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont"><%= @yfcase.debtorStreet.present? ? @yfcase.debtorStreet : '' %></sanp> 
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont"><%= @yfcase.debtorSection.present? ? @yfcase.debtorSection : '' %></sanp>
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont"><%= @yfcase.debtorLane.present? ? @yfcase.debtorLane : '' %></sanp>
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont"><%= @yfcase.debtorAlley.present? ? @yfcase.debtorAlley : '' %></sanp>
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont"><%= @yfcase.debtorNumber.present? ? @yfcase.debtorNumber : '' %></sanp>
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont"><%= @yfcase.debtorFloor.present? ? @yfcase.debtorFloor : '' %></sanp>
            </td>
            <td style="border:1px solid black;"></td>
            <td style="border:1px solid black;" rowspan="6"></td>
        </tr>
        
        <!--權利人-->
        <tr style="height:28px;color:blue;">
            <td style="border:1px solid black;height:50px;">
              <sanp class="bluefont">權利人</sanp>
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont"><%= @yfcase.creditorName.blank? ? @yfcase.company : @yfcase.creditorName %></sanp>                
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont">
                <% if @yfcase.creditorName.blank? %>
                  <% User.where(full_name: @yfcase.company).each do |creditorInfo| %>
                    民國<%= creditorInfo.userBirthday.present? ? creditorInfo.userBirthday.year.to_i-1911 : '' %>年<%= creditorInfo.userBirthday.present? ? creditorInfo.userBirthday.month.to_i : '' %>月<%= creditorInfo.userBirthday.present? ? creditorInfo.userBirthday.day.to_i : '' %>日
                  <% end %>
                <% else %>
                  民國<%= @yfcase.creditorBirthday.present? ? @yfcase.creditorBirthday.year.to_i-1911 : '' %>年<%= @yfcase.creditorBirthday.present? ? @yfcase.creditorBirthday.month.to_i : '' %>月<%= @yfcase.creditorBirthday.present? ? @yfcase.creditorBirthday.day.to_i : '' %>日
                <% end %>
              </sanp> 
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont">
                <% if @yfcase.creditorName.blank? %>
                  <% User.where(full_name: @yfcase.company).each do |creditorInfo| %>
                    <%= creditorInfo.userIdentityCard %>
                  <% end %>
                <% else %>
                  <%= @yfcase.creditorIdentitycard %>
                <% end %>
              </sanp> 
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont">
                <% if @yfcase.creditorName.blank? %>
                  <% User.where(full_name: @yfcase.company).each do |creditorInfo| %>
                    <%= creditorInfo.userCountry %>
                  <% end %>
                <% else %>
                  <%= @yfcase.creditorCountry %>
                <% end %>
              </sanp> 
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont">
                <% if @yfcase.creditorName.blank? %>
                  <% User.where(full_name: @yfcase.company).each do |creditorInfo| %>
                    <%= creditorInfo.userTownship %>
                  <% end %>
                <% else %>
                  <%= @yfcase.creditorTownship %>
                <% end %>
              </sanp> 
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont">
                <% if @yfcase.creditorName.blank? %>
                  <% User.where(full_name: @yfcase.company).each do |creditorInfo| %>
                    <%= creditorInfo.userVillage %>
                  <% end %>
                <% else %>
                  <%= @yfcase.creditorVillage %>
                <% end %>
              </sanp> 
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont">
                <% if @yfcase.creditorName.blank? %>
                  <% User.where(full_name: @yfcase.company).each do |creditorInfo| %>
                    <%= creditorInfo.userNeighbor %>
                  <% end %>
                <% else %>
                  <%= @yfcase.creditorNeighbor %>
                <% end %>
              </sanp> 
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont">
                <% if @yfcase.creditorName.blank? %>
                  <% User.where(full_name: @yfcase.company).each do |creditorInfo| %>
                    <%= creditorInfo.userStreet %>
                  <% end %>
                <% else %>
                  <%= @yfcase.creditorStreet %>
                <% end %>
              </sanp> 
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont">
                <% if @yfcase.creditorName.blank? %>
                  <% User.where(full_name: @yfcase.company).each do |creditorInfo| %>
                    <%= creditorInfo.userSection %>
                  <% end %>
                <% else %>
                  <%= @yfcase.creditorSection %>
                <% end %>
              </sanp>
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont">
                <% if @yfcase.creditorName.blank? %>
                  <% User.where(full_name: @yfcase.company).each do |creditorInfo| %>
                    <%= creditorInfo.userLane %>
                  <% end %>
                <% else %>
                  <%= @yfcase.creditorLane %>
                <% end %>
              </sanp>
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont">
                <% if @yfcase.creditorName.blank? %>
                  <% User.where(full_name: @yfcase.company).each do |creditorInfo| %>
                    <%= creditorInfo.userAlley %>
                  <% end %>
                <% else %>
                  <%= @yfcase.creditorAlley %>
                <% end %>
              </sanp>
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont">
                <% if @yfcase.creditorName.blank? %>
                  <% User.where(full_name: @yfcase.company).each do |creditorInfo| %>
                    <%= creditorInfo.userNumber %>
                  <% end %>
                <% else %>
                  <%= @yfcase.creditorNumber %>
                <% end %>
              </sanp>
            </td>
            <td style="border:1px solid black;">
              <sanp class="bluefont">
                <% if @yfcase.creditorName.blank? %>
                  <% User.where(full_name: @yfcase.company).each do |creditorInfo| %>
                    <%= creditorInfo.userFloor %>
                  <% end %>
                <% else %>
                  <%= @yfcase.creditorFloor %>
                <% end %>
              </sanp>
            </td>
            <td style="border:1px solid black;"></td>
        </tr>
        
        <!--法定代理人-->
        <tr style="height:28px;color:blue;">
            <td style="border:1px solid black;height:50px;"><sanp class="bluefont">法定代理人</sanp></td>
            <td style="border:1px solid black;"><sanp class="bluefont">陳美純</sanp></td>
            <td style="border:1px solid black;"><sanp class="bluefont">民國30年10月31日</sanp></td>
            <td style="border:1px solid black;"><sanp class="bluefont">L203130632</sanp></td>
            <td style="border:1px solid black;"><sanp class="bluefont">臺中市</sanp></td>
            <td style="border:1px solid black;"><sanp class="bluefont">大里區</sanp></td>
            <td style="border:1px solid black;"><sanp class="bluefont">西榮里</sanp></td>
            <td style="border:1px solid black;"><sanp class="bluefont">7鄰</sanp></td>
            <td style="border:1px solid black;"><sanp class="bluefont">新仁路</sanp></td>
            <td style="border:1px solid black;"><sanp class="bluefont">三段</sanp></td>
            <td style="border:1px solid black;"><sanp class="bluefont">72巷</sanp></td>
            <td style="border:1px solid black;"><sanp class="bluefont"></sanp></td>
            <td style="border:1px solid black;"><sanp class="bluefont">3號</sanp></td>
            <td style="border:1px solid black;"><sanp class="bluefont"></sanp></td>
            <td style="border:1px solid black;"><sanp class="bluefont"></sanp></td>
        </tr>
        
        <!--代理人-->
        <tr style="height:28px;color:blue;">
            <td style="border:1px solid black;height:50px;">
                <sanp class="bluefont"><%= @yfcase.realestateregistrationRealEstateAgent.present? ? "代理人" : '' %></sanp>
            </td>
            <td style="border:1px solid black;">
                <sanp class="bluefont"><%= @yfcase.realestateregistrationRealEstateAgent.present? ? User.find(@realestateregistrationRealEstateAgent).full_name : '' %></sanp>            
            </td>
            <td style="border:1px solid black;">
                <sanp class="bluefont">
                  <% @realestateregistrationRealEstateAgentYear = (User.find(@realestateregistrationRealEstateAgent.to_i).userBirthday.nil? ? '' : User.find(@realestateregistrationRealEstateAgent.to_i).userBirthday.year-1911) %>
                  <% @realestateregistrationRealEstateAgentMonth = (User.find(@realestateregistrationRealEstateAgent.to_i).userBirthday.nil? ? '' : User.find(@realestateregistrationRealEstateAgent.to_i).userBirthday.month) %>
                  <% @realestateregistrationRealEstateAgentDay = (User.find(@realestateregistrationRealEstateAgent.to_i).userBirthday.nil? ? '' : User.find(@realestateregistrationRealEstateAgent.to_i).userBirthday.day) %>
                  <% if @yfcase.realestateregistrationRealEstateAgent.present? && User.find(@realestateregistrationRealEstateAgent.to_i).userBirthday.present? %>
                    <%= "民國"+@realestateregistrationRealEstateAgentYear.to_s+"年"+@realestateregistrationRealEstateAgentMonth.to_s+"月"+@realestateregistrationRealEstateAgentDay.to_s+"日" %>
                  <% end %>
                </sanp> 
            </td>
            <td style="border:1px solid black;">
                <sanp class="bluefont"><%= @yfcase.realestateregistrationRealEstateAgent.present? ? User.find(@realestateregistrationRealEstateAgent).userIdentityCard : '' %></sanp>   
            </td>
            <td style="border:1px solid black;">
                <sanp class="bluefont"><%= @yfcase.realestateregistrationRealEstateAgent.present? ? User.find(@realestateregistrationRealEstateAgent).userCountry : '' %></sanp>  
            </td>
            <td style="border:1px solid black;">
                <sanp class="bluefont"><%= @yfcase.realestateregistrationRealEstateAgent.present? ? User.find(@realestateregistrationRealEstateAgent).userTownship : '' %></sanp>   
            </td>
            <td style="border:1px solid black;">
                <sanp class="bluefont"><%= @yfcase.realestateregistrationRealEstateAgent.present? ? User.find(@realestateregistrationRealEstateAgent).userVillage : '' %></sanp>  
            </td>
            <td style="border:1px solid black;">
                <sanp class="bluefont"><%= @yfcase.realestateregistrationRealEstateAgent.present? ? User.find(@realestateregistrationRealEstateAgent).userNeighbor : '' %></sanp>  
            </td>
            <td style="border:1px solid black;">
                <sanp class="bluefont"><%= @yfcase.realestateregistrationRealEstateAgent.present? ? User.find(@realestateregistrationRealEstateAgent).userStreet : '' %></sanp>
            </td>
            <td style="border:1px solid black;">
                <sanp class="bluefont"><%= @yfcase.realestateregistrationRealEstateAgent.present? ? User.find(@realestateregistrationRealEstateAgent).userSection : '' %></sanp> 
            </td>
            <td style="border:1px solid black;">
                <sanp class="bluefont"><%= @yfcase.realestateregistrationRealEstateAgent.present? ? User.find(@realestateregistrationRealEstateAgent).userLane : '' %></sanp> 
            </td>
            <td style="border:1px solid black;">
                <sanp class="bluefont"><%= @yfcase.realestateregistrationRealEstateAgent.present? ? User.find(@realestateregistrationRealEstateAgent).userAlley : '' %></sanp>  
            </td>
            <td style="border:1px solid black;">
                <sanp class="bluefont"><%= @yfcase.realestateregistrationRealEstateAgent.present? ? User.find(@realestateregistrationRealEstateAgent).userNumber : '' %></sanp> 
            </td>
            <td style="border:1px solid black;">
                <sanp class="bluefont"><%= @yfcase.realestateregistrationRealEstateAgent.present? ? User.find(@realestateregistrationRealEstateAgent).userFloor : '' %></sanp>
            </td>
            <td style="border:1px solid black;"></td>
        </tr>

        

    </table>
    
      <!-- 本案處理經過情形 -->
      <table style="border-collapse: collapse;font-size:14pt;width:100%;text-align:center;border-top:hidden;">
          <tr style="height:28px;">
              <td style="border:1px solid black;width:4%;font-size:20px;" rowspan="4">本案處理經過情形︵<br>以下各欄<br>申請人請勿填寫<br>︶</td>
              <td style="border:1px solid black;width:16%;height:110px;">初           審</td>
              <td style="border:1px solid black;width:16%;">複            審</td>
              <td style="border:1px solid black;width:17%;">核           定</td>
              <td style="border:1px solid black;width:9%;">登  簿</td>
              <td style="border:1px solid black;width:10%;">校  簿</td>
              <td style="border:1px solid black;width:9%;">書  狀<br>列  印</td>
              <td style="border:1px solid black;width:9%;">校  狀</td>
              <td style="border:1px solid black;width:9%;">書  狀<br>用  印</td>
          </tr>
          <tr style="height:28px;">
              <td style="border:1px solid black;" rowspan="3"></td>
              <td style="border:1px solid black;" rowspan="3"></td>
              <td style="border:1px solid black;" rowspan="3"></td>
              <td style="border:1px solid black;height:110px;"></td>
              <td style="border:1px solid black;"></td>
              <td style="border:1px solid black;"></td>
              <td style="border:1px solid black;"></td>
              <td style="border:1px solid black;"></td>
          </tr>
          <tr style="height:28px;">
              <td style="border:1px solid black;height:110px;">地  價<br>異  動</td>
              <td style="border:1px solid black;">通  知<br>領  狀</td>
              <td style="border:1px solid black;">異  動<br>通  知</td>
              <td style="border:1px solid black;">交  付<br>發  狀</td>
              <td style="border:1px solid black;">歸  檔</td>
          </tr>
          <tr style="height:28px;">
              <td style="border:1px solid black;height:110px;"></td>
              <td style="border:1px solid black;"></td>
              <td style="border:1px solid black;"></td>
              <td style="border:1px solid black;"></td>
              <td style="border:1px solid black;"></td>
          </tr>
      </table>
    </div>
    
    <!--登記清冊-土地清冊-->
    <div class="page-break">
      <table class="realestateregistrationLand">
        <!--第一行-->
        <tr>
            <th colspan="10">
             登 記 清 冊 申請人 揚富開發有限公司<br>
             法定代理人 陳美純 簽章
            </th>
        </tr>
        
        <!--第二行-->
        <tr>
            <th rowspan="7" style="width:3%;">土地標示</th>
            <th rowspan="3" style="width:3%">(1)坐落</th>
            <th style="width:12%;height:100px;">鄉 鎮<br>市 區</th>
            <td><%= @yfcase.lands.first.blank? ? "" : @yfcase.township.try(:name) %></td>
            <td>
              <% if @yfcase.lands.first.present? && @yfcase.lands.second.blank? %>
                <div style="color:red;border:3px solid red;">以下空白</div>
              <% else %>
                <%= @yfcase.lands.second.blank? ? "" : @yfcase.township.try(:name) %>
              <% end %>
            </td>
            <td>
              <% if @yfcase.lands.second.present? && @yfcase.lands.third.blank? %>
                <div style="color:red;border:3px solid red;">以下空白</div>
              <% else %>
                <%= @yfcase.lands.third.blank? ? "" : @yfcase.township.try(:name) %>
              <% end %>
            </td>
            <td>
              <% if @yfcase.lands.third.present? && @yfcase.lands.fourth.blank? %>
                <div style="color:red;border:3px solid red;">以下空白</div>
              <% else %>
                <%= @yfcase.lands.fourth.blank? ? "" : @yfcase.township.try(:name) %>
              <% end %>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        <!--第三行-->
        <tr>
            <th style="height:100px;">段</th>
            <td><%= @yfcase.lands.first.blank? ? "" : @yfcase.big_section %></td>
            <td><%= @yfcase.lands.second.blank? ? "" : @yfcase.big_section %></td>
            <td><%= @yfcase.lands.third.blank? ? "" : @yfcase.big_section %></td>
            <td><%= @yfcase.lands.fourth.blank? ? "" : @yfcase.big_section %></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        <!--第四行-->
        <tr>
            <th style="height:100px;">小段</th>
            <td><%= @yfcase.lands.first.blank? ? "" : @yfcase.small_section %></td>
            <td><%= @yfcase.lands.second.blank? ? "" : @yfcase.small_section %></td>
            <td><%= @yfcase.lands.third.blank? ? "" : @yfcase.small_section %></td>
            <td><%= @yfcase.lands.fourth.blank? ? "" : @yfcase.small_section %></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        <!--第五行-->
        <tr>
            <th colspan="2" style="height:100px;">(2)地 號</th>
            <td><%= @yfcase.lands.first.blank? ? "" : @yfcase.lands.first.land_number %></td>
            <td><%= @yfcase.lands.second.blank? ? "" :@yfcase.lands.second.land_number %></td>
            <td><%= @yfcase.lands.third.blank? ? "" : @yfcase.lands.third.land_number %></td>
            <td><%= @yfcase.lands.fourth.blank? ? "" : @yfcase.big_section+@yfcase.lands.fourth.land_number %></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        <!--第六行-->
        <tr>
            <th colspan="2" style="height:100px;">(3)面 積<br>(平方公尺)</th>
            <td><%= @yfcase.lands.first.blank? ? "" : number_to_currency(@yfcase.lands.first.land_area.to_f, unit: "", precision: 2) %></td>
            <td><%= @yfcase.lands.second.blank? ? "" : number_to_currency(@yfcase.lands.second.land_area.to_f, unit: "", precision: 2) %></td>
            <td><%= @yfcase.lands.third.blank? ? "" : number_to_currency(@yfcase.lands.third.land_area.to_f, unit: "", precision: 2) %></td>
            <td><%= @yfcase.lands.fourth.blank? ? "" : number_to_currency(@yfcase.lands.fourth.land_area.to_f, unit: "", precision: 2) %></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <!--第七行-->
        <tr>
            <th colspan="2" style="height:100px;">(4)權利範圍</th>
            <td><%= @yfcase.lands.first.blank? ? "" : (@yfcase.lands.first.land_holding_point_personal).to_s+"/"+(@yfcase.lands.first.land_holding_point_all).to_s %></td>
            <td><%= @yfcase.lands.second.blank? ? "" : (@yfcase.lands.second.land_holding_point_personal).to_s+"/"+(@yfcase.lands.second.land_holding_point_all).to_s %></td>
            <td><%= @yfcase.lands.third.blank? ? "" : (@yfcase.lands.third.land_holding_point_personal).to_s+"/"+(@yfcase.lands.third.land_holding_point_all).to_s %></td>
            <td><%= @yfcase.lands.fourth.blank? ? "" : (@yfcase.lands.fourth.land_holding_point_personal).to_s+"/"+(@yfcase.lands.fourth.land_holding_point_all).to_s %></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        <!--第八行-->
        <tr>
            <th colspan="2" style="height:100px;">(5)備 註</th>
            <td><%= @yfcase.lands.first.blank? ? "" : @yfcase.lands.first.landRemarks %></td>
            <td><%= @yfcase.lands.second.blank? ? "" : @yfcase.lands.second.landRemarks %></td>
            <td><%= @yfcase.lands.third.blank? ? "" : @yfcase.lands.third.landRemarks %></td>
            <td><%= @yfcase.lands.fourth.blank? ? "" : @yfcase.lands.fourth.landRemarks %></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
    </table>
    </div>
    
    <!--登記清冊-建物清冊-->
    <div class="page-break">
      <table class="realestateregistrationBuild">
        <tr>
            <th rowspan="18" style="width:3%">建 物 標 示</th>
            <th colspan="2">(6)建 號</th>
            <td><%= @yfcase.builds.first.blank? ? "" : @yfcase.big_section+@yfcase.builds.first.build_number %></td>
            <td>
              <% if @yfcase.builds.first.present? && @yfcase.builds.second.blank? %>
                <div style="color:red;border:3px solid red;">以下空白</div>
              <% else %>
                <%= @yfcase.builds.second.blank? ? "" : @yfcase.big_section+@yfcase.builds.second.build_number %>
              <% end %>
            </td>
            <td>
              <% if @yfcase.builds.second.present? && @yfcase.builds.third.blank? %>
                <div style="color:red;border:3px solid red;">以下空白</div>
              <% else %>
                <%= @yfcase.builds.third.blank? ? "" : @yfcase.big_section+@yfcase.builds.third.build_number %>
              <% end %>
            </td>
            <td>
              <% if @yfcase.builds.third.present? && @yfcase.builds.fourth.blank? %>
                <div style="color:red;border:3px solid red;">以下空白</div>
              <% else %>
                <%= @yfcase.builds.fourth.blank? ? "" : @yfcase.big_section+@yfcase.builds.fourth.build_number %>
              <% end %>
            </td>
        </tr>
        <tr>
            <th rowspan="4" style="width:10%">(7)<br>門 牌</th>
            <th style="width:15%">鄉鎮市區</th>
            <td><%= @yfcase.builds.first.blank? ? "" : @yfcase.country.try(:name)+@yfcase.township.try(:name) %></td>
            <td><%= @yfcase.builds.second.blank? ? "" : @yfcase.country.try(:name)+@yfcase.township.try(:name) %></td>
            <td><%= @yfcase.builds.third.blank? ? "" : @yfcase.country.try(:name)+@yfcase.township.try(:name) %></td>
            <td><%= @yfcase.builds.fourth.blank? ? "" : @yfcase.country.try(:name)+@yfcase.township.try(:name) %></td>
        </tr>
        <tr>
            <th>街 路</th>
            <td><%= @yfcase.builds.first.blank? ? "" : @yfcase.builds.first.buildRoad %></td>
            <td><%= @yfcase.builds.second.blank? ? "" : @yfcase.builds.second.buildRoad %></td>
            <td><%= @yfcase.builds.third.blank? ? "" : @yfcase.builds.third.buildRoad %></td>
            <td><%= @yfcase.builds.fourth.blank? ? "" : @yfcase.builds.fourth.buildRoad %></td>
        </tr>
        <tr>
            <th>段 巷 弄</th>
            <td>
               <% if @yfcase.builds.first.present? %>
                <% if @yfcase.builds.first.buildSegment.present? %>
                  <%= @yfcase.builds.first.buildSegment+"段" %>
                <% end %>
                <% if @yfcase.builds.first.buildLane.present? %>
                  <%= @yfcase.builds.first.buildLane+"巷" %>
                <% end %>
                <% if @yfcase.builds.first.buildDo.present? %>
                  <%= @yfcase.builds.first.buildDo+"弄" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if @yfcase.builds.second.present? %>
                <% if @yfcase.builds.second.buildSegment.present? %>
                  <%= @yfcase.builds.second.buildSegment+"段" %>
                <% end %>
                <% if @yfcase.builds.second.buildLane.present? %>
                  <%= @yfcase.builds.second.buildLane+"巷" %>
                <% end %>
                <% if @yfcase.builds.second.buildDo.present? %>
                  <%= @yfcase.builds.second.buildDo+"弄" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if @yfcase.builds.third.present? %>
                <% if @yfcase.builds.third.buildSegment.present? %>
                  <%= @yfcase.builds.third.buildSegment+"段" %>
                <% end %>
                <% if @yfcase.builds.third.buildLane.present? %>
                  <%= @yfcase.builds.third.buildLane+"巷" %>
                <% end %>
                <% if @yfcase.builds.third.buildDo.present? %>
                  <%= @yfcase.builds.third.buildDo+"弄" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if @yfcase.builds.fourth.present? %>
                <% if @yfcase.builds.fourth.buildSegment.present? %>
                  <%= @yfcase.builds.fourth.buildSegment+"段" %>
                <% end %>
                <% if @yfcase.builds.fourth.buildLane.present? %>
                  <%= @yfcase.builds.fourth.buildLane+"巷" %>
                <% end %>
                <% if @yfcase.builds.fourth.buildDo.present? %>
                  <%= @yfcase.builds.fourth.buildDo+"弄" %>
                <% end %>
              <% end %>
            </td>
        </tr>
        <tr>
            <th>號 樓</th>
            <td>
              <% if @yfcase.builds.first.present? %>
                <% if @yfcase.builds.first.buildNumber.present? %>
                  <%= @yfcase.builds.first.buildNumber+"號" %>
                <% end %>
                <% if @yfcase.builds.first.buildFloor.present? %>
                  <%= @yfcase.builds.first.buildFloor+"樓" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if @yfcase.builds.second.present? %>
                <% if @yfcase.builds.second.buildNumber.present? %>
                  <%= @yfcase.builds.second.buildNumber+"號" %>
                <% end %>
                <% if @yfcase.builds.second.buildFloor.present? %>
                  <%= @yfcase.builds.second.buildFloor+"樓" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if @yfcase.builds.third.present? %>
                <% if @yfcase.builds.third.buildNumber.present? %>
                  <%= @yfcase.builds.third.buildNumber+"號" %>
                <% end %>
                <% if @yfcase.builds.third.buildFloor.present? %>
                  <%= @yfcase.builds.third.buildFloor+"樓" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if @yfcase.builds.fourth.present? %>
                <% if @yfcase.builds.fourth.buildNumber.present? %>
                  <%= @yfcase.builds.fourth.buildNumber+"號" %>
                <% end %>
                <% if @yfcase.builds.fourth.buildFloor.present? %>
                  <%= @yfcase.builds.fourth.buildFloor+"樓" %>
                <% end %>
              <% end %>
            </td>
        </tr>
        <tr>
            <th rowspan="3">(8)<br>建 物<br>坐 落</th>
            <th>段</th>
            <td><%= @yfcase.builds.first.blank? ? "" : @yfcase.big_section %></td>
            <td><%= @yfcase.builds.second.blank? ? "" : @yfcase.big_section %></td>
            <td><%= @yfcase.builds.third.blank? ? "" : @yfcase.big_section %></td>
            <td><%= @yfcase.builds.fourth.blank? ? "" : @yfcase.big_section %></td>
        </tr>
        <tr>
            <th>小段</th>
            <td><%= @yfcase.builds.first.blank? ? "" : @yfcase.small_section %></td>
            <td><%= @yfcase.builds.second.blank? ? "" : @yfcase.small_section %></td>
            <td><%= @yfcase.builds.third.blank? ? "" : @yfcase.small_section %></td>
            <td><%= @yfcase.builds.fourth.blank? ? "" : @yfcase.small_section %></td>
        </tr>
        <tr>
            <th>地號</th>
            <td><%= @yfcase.builds.first.nil? ? "" : (@yfcase.builds.first.buildLandNumber.blank? ? '' : Land.find(@yfcase.builds.first.buildLandNumber.to_i).land_number) %></td>
            <td><%= @yfcase.builds.second.nil? ? "" : (@yfcase.builds.second.buildLandNumber.blank? ? '' : Land.find(@yfcase.builds.second.buildLandNumber.to_i).land_number) %></td>
            <td><%= @yfcase.builds.third.nil? ? "" : (@yfcase.builds.third.buildLandNumber.blank? ? '' : Land.find(@yfcase.builds.third.buildLandNumber.to_i).land_number) %></td>
            <td><%= @yfcase.builds.fourth.nil? ? "" : (@yfcase.builds.fourth.buildLandNumber.blank? ? '' : Land.find(@yfcase.builds.fourth.buildLandNumber.to_i).land_number) %></td>
        </tr>
        <tr>
            <th rowspan="6">(9)<br>面 積<br>︵<br>平方<br>公尺<br>︶</th>
            <th>1 層</th>
            <td><%= @yfcase.builds.first.blank? ? "" : @yfcase.builds.first.buildLevel1 %></td>
            <td><%= @yfcase.builds.second.blank? ? "" : @yfcase.builds.second.buildLevel1 %></td>
            <td><%= @yfcase.builds.third.blank? ? "" : +@yfcase.builds.third.buildLevel1 %></td>
            <td><%= @yfcase.builds.fourth.blank? ? "" : @yfcase.builds.fourth.buildLevel1 %></td>
        </tr>
        <tr>
            <th>2 層</th>
            <td><%= @yfcase.builds.first.blank? ? "" : @yfcase.builds.first.buildLevel2 %></td>
            <td><%= @yfcase.builds.second.blank? ? "" : @yfcase.builds.second.buildLevel2 %></td>
            <td><%= @yfcase.builds.third.blank? ? "" : @yfcase.builds.third.buildLevel2 %></td>
            <td><%= @yfcase.builds.fourth.blank? ? "" : @yfcase.builds.fourth.buildLevel2 %></td>
        </tr>
        <tr>
            <th>  層</th>
            <td><%= @yfcase.builds.first.blank? ? "" : @yfcase.builds.first.buildLevel3 %></td>
            <td><%= @yfcase.builds.second.blank? ? "" : @yfcase.builds.second.buildLevel3 %></td>
            <td><%= @yfcase.builds.third.blank? ? "" : @yfcase.builds.third.buildLevel3 %></td>
            <td><%= @yfcase.builds.fourth.blank? ? "" : @yfcase.builds.fourth.buildLevel3 %></td>
        </tr>
        <tr>
            <th>  層</th>
            <td><%= @yfcase.builds.first.blank? ? "" : @yfcase.builds.first.buildLevel4 %></td>
            <td><%= @yfcase.builds.second.blank? ? "" : @yfcase.builds.second.buildLevel4 %></td>
            <td><%= @yfcase.builds.third.blank? ? "" : @yfcase.builds.third.buildLevel4 %></td>
            <td><%= @yfcase.builds.fourth.blank? ? "" : @yfcase.builds.fourth.buildLevel4 %></td>
        </tr>
        <tr>
            <th></th>
            <td><%= @yfcase.builds.first.blank? ? "" : @yfcase.builds.first.buildOther1 %></td>
            <td><%= @yfcase.builds.second.blank? ? "" : @yfcase.builds.second.buildOther1 %></td>
            <td><%= @yfcase.builds.third.blank? ? "" : @yfcase.builds.third.buildOther1 %></td>
            <td><%= @yfcase.builds.fourth.blank? ? "" : @yfcase.builds.fourth.buildOther1 %></td>
        </tr>
        <tr>
            <th>共 計</th>
            <td>
              <%= @yfcase.builds.first.blank? ? "" : currency_helper(@yfcase.builds.first.buildLevel1.to_f + @yfcase.builds.first.buildLevel2.to_f+ @yfcase.builds.first.buildLevel3.to_f + @yfcase.builds.first.buildLevel4.to_f + @yfcase.builds.first.buildOther1.to_f,2) %>
            </td>
            <td>
              <%= @yfcase.builds.second.blank? ? "" : currency_helper(@yfcase.builds.second.buildLevel1.to_f + @yfcase.builds.second.buildLevel2.to_f+ @yfcase.builds.second.buildLevel3.to_f + @yfcase.builds.second.buildLevel4.to_f + @yfcase.builds.second.buildOther1.to_f,2) %>
            </td>
            <td>
              <%= @yfcase.builds.third.blank? ? "" : currency_helper(@yfcase.builds.third.buildLevel1.to_f + @yfcase.builds.third.buildLevel2.to_f+ @yfcase.builds.third.buildLevel3.to_f + @yfcase.builds.third.buildLevel4.to_f + @yfcase.builds.third.buildOther1.to_f,2) %>
            </td>
            <td>
              <%= @yfcase.builds.fourth.blank? ? "" : currency_helper(@yfcase.builds.fourth.buildLevel1.to_f + @yfcase.builds.fourth.buildLevel2.to_f+ @yfcase.builds.fourth.buildLevel3.to_f + @yfcase.builds.fourth.buildLevel4.to_f + @yfcase.builds.fourth.buildOther1.to_f,2) %>
            </td>
        </tr>
        <tr>
            <th rowspan="2">(10)<br>附 屬<br>建 物</th>
            <th>用途</th>
            <td><%= @yfcase.builds.first.blank? ? "" : @yfcase.builds.first.buildUse %></td>
            <td><%= @yfcase.builds.second.blank? ? "" : @yfcase.builds.second.buildUse %></td>
            <td><%= @yfcase.builds.third.blank? ? "" : @yfcase.builds.third.buildUse %></td>
            <td><%= @yfcase.builds.fourth.blank? ? "" : @yfcase.builds.fourth.buildUse %></td>
        </tr>
        <tr>
            <th>面 積<br>(平方公尺)</th>
            <td><%= @yfcase.builds.first.blank? ? "" : number_to_currency(@yfcase.builds.first.buildScopeOfArea.to_f, unit: "", precision: 2) %></td>
            <td><%= @yfcase.builds.second.blank? ? "" : number_to_currency(@yfcase.builds.second.buildScopeOfArea.to_f, unit: "", precision: 2) %></td>
            <td><%= @yfcase.builds.third.blank? ? "" : number_to_currency(@yfcase.builds.third.buildScopeOfArea.to_f, unit: "", precision: 2) %></td>
            <td><%= @yfcase.builds.fourth.blank? ? "" : number_to_currency(@yfcase.builds.fourth.buildScopeOfArea.to_f, unit: "", precision: 2) %></td>
        </tr>
        <tr>
            <th colspan="2">(11)權 利 範 圍</th>
            <td><%= @yfcase.builds.first.blank? ? "" : (@yfcase.builds.first.build_holding_point_personal).to_s+"/"+(@yfcase.builds.first.build_holding_point_all).to_s %></td>
            <td><%= @yfcase.builds.second.blank? ? "" : (@yfcase.builds.second.build_holding_point_personal).to_s+"/"+(@yfcase.builds.second.build_holding_point_all).to_s %></td>
            <td><%= @yfcase.builds.third.blank? ? "" : (@yfcase.builds.third.build_holding_point_personal).to_s+"/"+(@yfcase.builds.third.build_holding_point_all).to_s %></td>
            <td><%= @yfcase.builds.fourth.blank? ? "" : (@yfcase.builds.fourth.build_holding_point_personal).to_s+"/"+(@yfcase.builds.fourth.build_holding_point_all).to_s %></td>
        </tr>
        <tr>
            <th colspan="2">(12)備 註</th>
            <td><%= @yfcase.builds.first.blank? ? "" : @yfcase.builds.first.buildRemarks %></td>
            <td><%= @yfcase.builds.second.blank? ? "" : @yfcase.builds.second.buildRemarks %></td>
            <td><%= @yfcase.builds.third.blank? ? "" : @yfcase.builds.third.buildRemarks %></td>
            <td><%= @yfcase.builds.fourth.blank? ? "" : @yfcase.builds.fourth.buildRemarks %></td>
        </tr>
    </table>
    </div>
    
</body>

</html>